.DS_Store
*.txt
.project
.settings
mofacts/build/*.tar.gz
.pyc
.test_results
.test*.sh
.vagrant
/nbproject/private/
/nbproject/
.meteor
build/*.tar.gz
mofacts/settings.json
.tags*
mofacts/node_modules
docker-out/
\#*\#
*~
mofacts/private/certs/*
