.DS_Store
.vscode
*.txt
.project
.settings
mofacts/build/*.tar.gz
mofacts/build/mof*
.pyc
.test_results
.test*.sh
.vagrant
/nbproject/private/
/nbproject/
.meteor
build/*.tar.gz
mofacts/settings.json
.tags*
mofacts/node_modules
*node_modules*
docker-out/
\#*\#
*~
mofacts/private/certs/*
custom_packages/meteor-accounts-saml-iis-version-2-10-2020/.npm
ubuntu-bionic-18.04-cloudimg-console.log
*glossary*.json
*FeedbackCache.json
certs
profileTmp