/* Colors */
body{
    background-color: #F2F2F2;
}

h3{
    /* League Spartan */
    font-family: 'League Spartan';
    font-weight: 800;
    padding: 10px;
}

h5{
    /* League Spartan */
    font-family: 'League Spartan';
    padding: 10px;
}

p{
    padding:10px;
}

.btn, .btn-icon{
    background-color: #7ed957;
    border-color: #7ed957;
    color: #000000;
    /* center button */
    margin-left: auto;
    margin-right: auto;
}
.btn:hover, .btn-icon:hover{
    background-color: #00cc00;
    border-color: #7ed957;
    color: #000000;

}
.modal-dialog, .modal-content{
    background-color: #d9d9d9;
    display: flex;
}

.modal-title{
    /* League Spartan */
    font-family: 'League Spartan';
    font-weight: 800;
    font-size: 35px;
    /* center text */
    justify-content: center;
    display: inline-flex;
    margin-left: auto;
}
.full-menu-content, .active-menu-button{
    background-color: #d9d9d9 !important;
    color: #000000;
}
.alert, .header-box{
    background-color: #d9d9d9;
}

thead{
    background-color: #7ed957;
}


/* General Styles */
h1{
    /* League Spartan */
    font-family: 'League Spartan';
    font-weight: 800;
    font: 55pt;
}

thead{
    /* League Spartan */
    font-family: 'League Spartan';
    font-weight: 800;
    /* border radius is 35px on left side*/
    border: 1px solid #7ed957;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    padding: 10px;
}

input[type=text], input[type=password], select{
    /* Josefin Sans */
    font-family: 'Josefin Sans';
    border-width: 1px;
    border-radius: 35px;
    padding: 5px;
    margin: 5px;
    /*give margin to the left of the input*/
    margin-left: 10px;
}

input[type=radio]{
    margin-bottom: 30px;
    /*large checkbox*/
    transform: scale(1.5);
    padding: 10px;
}

input[type=file]{
    /* Josefin Sans */
    font-family: 'Josefin Sans';
    border-width: 1px;
    border-radius: 35px;
    padding: 5px;
    border-color: #7ed957;
    /*give margin to the left of the input*/
    margin-left: 10px;
}

select{
    /* Josefin Sans */
    font-family: 'Josefin Sans';
    border-width: 1px;
    border-radius: 35px;
    padding: 5px;
    border-color: #7ed957;
    /*give margin to the left of the input*/
    margin-left: 10px;
}

.btn{
    font-family: 'Josefin Sans';
    border-width: 1px;
    border-radius: 35px;
    padding: 15px;
    margin: 5px;
    min-width: 250px;
}
.btn-icon{
    font-family: 'Josefin Sans';
    border-width: 1px;
    border-radius: 35px;
    padding: 15px;
    margin: 5px;
    /* center icon */
    text-align: center;
    /* center text */
    justify-content: center;
    /* center icon */
    align-items: center;
}

.navbar button{
    background-color: transparent;
    border: none;
}

.footer{
    color: grey;
    /* Joefin Sans */
    font-family: 'Josefin Sans';
}

.navbar-brand{
    /* League Spartan */
    font-family: 'League Spartan';
    font-weight: 800;
    font-size: 35px;
}

.modal-dialog, .modal-content{
    border-radius:35px;
}

.full-menu{
    height: 100%;
    width: 100%;
    position: fixed;
    top:0px;
    z-index: 1;
    display: none;
}
.full-menu-background{
    height: 100%;
    width: 100%;
    position: fixed;
    top:0px;
    z-index: 1;
    background-color: rgba(0,0,0,0.6);
    /* fade in */
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    
}
.full-menu-content{
    height: 100%;
    /*border radius is 35px on left side*/
    border-top-left-radius: 35px;
    position: fixed;
    top:0px;
    z-index: 2;
    /*animate in from right*/
    
}
.full-menu-content li{
    /* centered, joesfin sans, no bullets, 35pt font */
    text-align: center;
    font-family: 'Josefin Sans';
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}

.header-box{
    width: 100%;
    margin-bottom: 5vh;
    margin-right: -5px;
    margin-left: 10px;
    padding: 3vh;
    border-radius: 0px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.alert{
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 5vh;
    border-radius: 0px;
}

.alert-icon{
    /*display an icon on the top left of the alert*/
    float: left;
    margin-left: 50px;
    margin-top: -10vh;
    width: 50px;
    height: 50px;
    /* font size should be 50px */
    font-size: 50px;
    /* circle */
    border-radius: 50%;
}

.table-responsive table{
    min-width: 100%;
}
/* Desktop Screens */
@media screen and (min-width: 1024px) {
    .full-menu-content{
        width: 15vw;
        margin-left: 85vw;
        /* animate in from right */
        animation: slide-in-right 0.5s forwards;
        --webkit-animation: slide-in-right 0.5s forwards;
        /* animate out to right */
        animation: slide-out-right 0.5s forwards;
        --webkit-animation: slide-out-right 0.5s forwards;
    }
    .full-menu-content li{
        font-size: 12pt;
    }
}

/* Adaptive  Screens */
@media screen and (max-width: 1024px) {
    .modal-dialog{
        height: 50vh;
        position: fixed;
        top: 50%;
        width: 90vw;
        margin-left: 5vw;
        /* reset bottom of border radius */
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .full-menu-content{
        width: 90vw;
        margin-left: 10vw;
    }
    .full-menu-content li{
        font-size: 20pt;
    }
    .header-box{
        width: 100%;
        margin-bottom: 5vh;
        margin-right: -5px;
        margin-left: 10px;
        padding: 3vh;
        border-radius: 0px;
    }
    .alert{
        margin-left: 0px;
        margin-right: 0px;
    }
    .alert-icon{
        margin-left:5vw;
    }
    .table-responsive table{
        min-width: 90vw;
    }
}


/*animation classes*/
/* fade in and slide up */
.fade-in-up {
    animation: fadeInUp 0.5s ease-in-out;
    -webkit-animation: fadeInUp 0.5s ease-in-out;
}

/* utility classes */
.vh-100 {
    height: 100vh;
}

.vh-50 {
    height: 50vh;
}

.vh-25 {
    height: 25vh;
}

.vh-75 {
    height: 75vh;
}

.vh-5{
    height: 5vh;
}

.vh-10 {
    height: 10vh;
}

.vh-15 {
    height: 15vh;
}

.vh-20 {
    height: 20vh;
}

.vh-30 {
    height: 30vh;
}
.vh-35{
    height: 35vh;
}
.vh-40{
    height: 40vh;
}


.width-100-percent{
    width: 100%;
}

.width-80-percent{
    width: 80%;
    /*centered*/
    margin-left: 10%;
    margin-right: 10%;
}

.align-center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* form switches */

.form-switch .form-check-input:checked {
    background-position: right center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }

.form-switch .form-check-input {
    width: 2em;
    margin-left: -2.5em;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    background-color: rgba(126, 217, 87, 0.25);
    background-position: left center;
    border-radius: 2em;
    transition: background-position .15s ease-in-out;
  }