/* Colors */
body{
    background-color: #F2F2F2;
}

.btn{
    background-color: #7ed957;
    border-color: #7ed957;
    color: #000000;
}
.btn:hover{
    background-color: #00cc00;
    border-color: #7ed957;
    color: #000000;

}
.modal-dialog, .modal-content{
    margin-top:25vh;
    background-color: #d9d9d9;
    border-radius:35px;
}


/* General Styles */
h1{
    /* League Spartan */
    font-family: 'League Spartan';
    font-weight: 800;
    font: 55pt;
}

input{
    /* Josefin Sans */
    font-family: 'Josefin Sans';
    border-width: 1px;
    border-radius: 35px;
    padding: 5px;
    margin: 5px;
}

.btn{
    font-family: 'Josefin Sans';
    border-width: 1px;
    border-radius: 35px;
    padding: 5px;
    margin: 5px;
    min-width: 200px;
}

.footer{
    color: grey;
    /* Joefin Sans */
    font-family: 'Josefin Sans';
}

/* Desktop Screens */
@media screen and (min-width: 1024px) {
    
}

/* Mobile Screens */
@media screen and (max-width: 1024px) {
    .modal-dialog, .modal-content{
        height: 100%;
    }
}


/*animation classes*/
/* fade in and slide up */
.fade-in-up {
    animation: fadeInUp 0.5s ease-in-out;
}

/* utility classes */
.vh-100 {
    height: 100vh;
}

.vh-50 {
    height: 50vh;
}

.vh-25 {
    height: 25vh;
}

.vh-75 {
    height: 75vh;
}

.vh-5{
    height: 5vh;
}

.vh-10 {
    height: 10vh;
}

.vh-15 {
    height: 15vh;
}

.vh-20 {
    height: 20vh;
}

.vh-30 {
    height: 30vh;
}
.vh-35{
    height: 35vh;
}
.vh-40{
    height: 40vh;
}
