<template name="resetPassword">
    <div class="container">
        <div class="row text-center mt-5">
            <div class="col-12 mx-auto">
                <h1 class="mb-4" align-bottom>{{currentTheme.properties.themeName}}</h1>
                <span id="serverErrors"></span>
            </div>
        </div>
        <div class="text-center login-form spacer">
            <div class="col-12 text-center login-form spacer">
                <legend>Password Reset</legend>
            </div>
        </div>

        <div id="sendPasswordEmail" class="text-center login-form spacer ">
            <div class="col-12">
                <p>Please type your email. A secret code will be sent to your email if this account exists.</p>
                <div class="form-group">
                    <input class="form-control accept-enter-key" type="text" id="email" value="" placeholder="Username">
                    <button type="button" id="sendSecret" class="btn ">Send Secret</button>
                </div>
            </div>
        </div>
        <div id="verifySecret" class="row text-center login-form spacer" hidden>
            <div class="col-12">
                <p>Please verify your secret.</p>
                <div class="form-group">
                    <input class="form-control accept-enter-key" type="text" id="secret" value="" placeholder="Secret">
                    <button type="button" id="verifySecretButton" class="btn ">Verify Secret</button>
                </div>
            </div>
        </div>
        <div id="resetPasswordForm" class="row text-center login-form spacer" hidden>
            <div class="col-12 text-center">
                <div class="form-group">
                    <input class="form-control accept-enter-key" type="password" id="password" value="" placeholder="New Password">
                    <input class="form-control accept-enter-key" type="password" id="passwordVerfiy" value="" placeholder="Repeat New Password">
                </div>
                <div class="form-group">
                    <button type="button" id="resetPasswordButton" class="btn ">Reset Password</button>
                </div>
            </div>
        </div>
        <!-- return to signin-->
        <div class="row text-center large-spacer login-sso-options">
            <div class="col-12 mx-auto">
                <a href="/signIn" class="small">Return to Sign In</a>
            </div>
        </div>
    </div>
</template>
