<template name="signIn">
    <div class="container">
        <!-- page header -->
        <div class="row text-center">
            <div class="col-lg-4 offset-lg-4 col-md-6 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12 spacer">
                <h1>MoFaCTS</h1>
                <span id="serverErrors"></span>
            </div>
        </div>
        <!-- class link selection -->
        <div class="row text-center" hidden="true" id="classSelection">
            <div class="col-lg-4 offset-lg-4 col-md-6 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12 spacer">
                <label>Please click on the link corresponding to your class</label>
                {{#each curTeacherClasses}}
                <ul>
                    {{#if checkSectionExists this.sectionname}}
                    <li><a href="#" onclick="setClass('{{this.sectionId}}')">{{this.courseName}} - {{this.sectionname}}</a></li>
                    {{else}}
                    <li><a href="#" onclick="setClass('{{this.sectionId}}')">{{this.courseName}}</a></li>
                    {{/if}}
                </ul>
                {{/each}}
            </div>
        </div>
        <!-- centered login form -->
        <div class="row text-center login-form spacer">
            <div class="col-lg-4 offset-lg-4 col-md-6 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12">
                <form>
                    {{#if isExperiment}}
                        <input  type="text" id="signInUsername" value="" placeholder="Username"><br>
                        {{#if experimentPasswordRequired}}
                            <input  type="password" id="password" value="" placeholder="Password"><br><br>
                        {{/if}}
                    {{else}}
                        <input  type="text" id="signInUsername" value="" placeholder="Username"><br>
                        <input  type="password" id="password" value="" placeholder="Password"><br><br>
                        <span class="help-inline danger errcheck" id="invalidLogin" hidden >Username password pair not found!</span>
                    {{/if}}
                    {{#if showTestLogin}}
                        <a id="testSignInButton">Test Login (password not required)</a>
                        <br>
                    {{/if}}
                    <button type="button" id="signInButton" class="btn">Sign In</button>
                    <button type="button" id="signUpButton" class="btn">Sign Up</button>
                </form>
            </div>
        </div>
        {{#unless isExperiment}}
        <!-- login with sso and google -->
        <div class="row text-center large-spacer login-sso-options">
            <div class="col-lg-4 offset-lg-4 col-md-6 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12 large-spacer">
                <button type="button" id="signInButtonOAuth" class="btn">Sign In with Google</button><br><br>
                <button type="button" id="signInWithSSOButton" class="btn">Sign In with SSO</button>
            </div>
        </div>
        {{/unless}}
    </div>
</template>