<template name="contentGeneration">
  <br><br>
    <div class="row">
      <div class="col-md-5">
        <h3>1. Paste text into the box below. Insert ### between sections</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 form-group" id="textbox-div">
        <textarea class="form-control" id="source-text" placeholder="Paste source material here"></textarea>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-5">
        <h3>2. Select compression level</h3>
      </div>
    </div>
    <div>
      <input type="number" id="compressionLevel" name="compressionLevel" min="0.01" max=".99">
    </div>
    
    <div class="row">
      <div class="col-md-5">
        <h3>3. Input email</h3>
      </div>
    </div>
    <div>
      <input type="email" id="sendToEmail" name="sendToEmail">
    </div>
    
    <div class="row">
      <div class="col-md-5">
        <h3>3. Generate content.</h3>
        <h5>Depending on the amount of text you have entered, this could take a while. Once the process starts it cannot be aborted.</h5> 
      </div>
    </div>

    <div class="row">
      <div class="col-md-5" id="submit-btn-div">
        <button class="btn btn-primary" type="button" id="submit-btn"> I understand, please proceed </button>
      </div>
    </div>
</template>
