<!-- Content (TDF and Stim) File Uploading Template -->

<template name="contentUpload">
    <div>
        <div class="col-md-3">
            <legend class="text-center">Upload Stimulus File(s)</legend>
            <div class="form-group">
                <span class="btn btn-default btn-file">
                    Browse
                    <input type="file" class="form-control" name="upload-stim" id="upload-stim" value="" placeholder="Stimulus File" multiple>
                    <span class='label label-info file-info' id="stim-file-info"></span>
                </span>
            </div>
            <button type='button' id='doUploadStim' class='btn btn-fix'>
                Upload Stimulus File(s)
            </button>
        </div>

        <div class="col-md-3">
            <legend class="text-center">Upload TDF File(s)</legend>
            <div class="form-group">
                <span class="btn btn-default btn-file">
                    Browse
                    <input type="file" class="form-control" name="upload-tdf" id="upload-tdf" value="" placeholder="TDF File" multiple>
                    <span class='label label-info file-info' id="tdf-file-info"></span>
                </span>
            </div>
            <button type='button' id='doUploadTDF' class='btn btn-fix'>
                Upload TDF File(s)
            </button>
        </div>

        <div class="col-md-6 responsiveTable">
            <legend class="text-center">Uploaded Files</legend>
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Download</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each userFiles}}
                        <tr>
                            <td>{{type}}</td>
                            <td>{{fileName}}</td>
                            {{#if tdfID}}
                            <td><button id="tdf-download-btn" value="{{tdfID}}" class="btn"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></button></td>
                            <td><button id="tdf-delete-btn" value="{{tdfID}}" data-filename="{{fileName}}" class="btn"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
                            {{/if}}
                            {{#if stimID}}
                            <td><button id="stim-download-btn" data-filename="{{fileName}}" class="btn"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></button></td>
                            <td><button id="stim-delete-btn" data-filename="{{fileName}}" class="btn"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
                            {{/if}}
                        </tr>
                    {{/each}}

                    <p><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>Download<br><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>Export</p>
                </tbody>
            </table>
        </div>
    </div>
</template>
