<template name="sparcEdit">
  <div class="sparc-edit-page" aria-busy="{{#if loading}}true{{else}}false{{/if}}">
    {{#if noData}}
      <div class="alert alert-warning">
        {{sparcText 'sparc.contentNotFound'}}
      </div>
      <a href="/contentUpload" class="btn btn-secondary">
        <i class="fa fa-arrow-left"></i> {{sparcText 'sparc.backToContentManager'}}
      </a>
    {{else}}
      <div id="sparc-editor-root" class="editor-initial-surface"></div>
    {{/if}}
  </div>
</template>
