<template name="tdfAssignmentEdit">
{{#if isInRole 'admin, teacher'}}
  <br><br>
  <h1 class="text-center">Add/edit Chapter Assignments</h1>
  <legend class="text-center">Select Class to Add/Edit Assignment</legend>
  <div class="text-center">
    <select id="class-select">
        <option selected="selected" value="invalid" disabled="true">Select a class</option>
        {{#each courses}}
          <option value="{{this.courseId}}">{{this.courseName}}</option>
        {{/each}}
    </select>
  </div>
  <legend class="text-center">Select chapters to assign to class</legend>
  <div>
    <div class="col-md-2">
    </div>
    <div class="col-md-3">
      <h3 class="text-center">Available Chapters</h3>
      <select size="20" class="center" id="notSelectedTdfs" multiple>
        {{#each tdfsNotSelected}}
          <option value="{{this.fileName}}">{{this.displayName}} ({{this.fileName}})</option>
        {{/each}}
      </select>
    </div>
    <div class="col-md-2 text-center pad-top">
      <h3 class="text-center">Select Chapter(s)</h3>
      <button id="selectTdf">-&gt;</button>
      <br /><br /><br /><br />
      <h3 class="text-center">Unselect Chapter(s)</h3>
      <button id="unselectTdf">&lt;-</button>
    </div>
    <div class="col-md-3">
      <h3 class="text-center">Selected Chapters</h3>
      <select size="20" class="center" id="selectedTdfs" multiple>
          {{#each tdfsSelected}}
          <option value="{{this.fileName}}">{{this.displayName}} ({{this.fileName}})</option>
          {{/each}}
      </select>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <div class="col-md-5"></div>
  <div class="col-md-2">
    <button id="saveAssignment" class="btn-mat">Save Assignment</button>
  </div>
  <div class="col-md-5"></div>
{{/if}}
</template>
