<template name="curPageNumbers">
    <br>
    <div class="row text-center">
        <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 mx-auto card-header ">
            <div class="row ">
                <div class="d-md-block col-lg-8  d-sm-block"></div>
                <div class="text-right col-md-12 col-lg-4 col-sm-12 col-xs-12  displaystats">
                    <div class="row">
                        <div class="col">
                            Page {{currentUnitNumber}} of {{lastUnitNumber}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>