<template name="signIn">
    <div class="container">
        <!-- page header -->
        <div class="row text-center">
            <div class="col-lg-4 offset-lg-4 col-md-6 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12">
                <div class="vh-10"></div>
                <h1 align-bottom>MoFaCTS</h1>
                <span id="serverErrors"></span>
                <div class="vh-5"></div>
            </div>
        </div>
        <!-- centered login form -->
        <div class="row text-center login-form spacer">
            <div class="col-lg-4 offset-lg-4 col-md-6 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12">
                <form>
                    {{#if isExperiment}}
                        <input  type="text" id="signInUsername" value="" placeholder="Amazon Turk ID"><br>
                        {{#if experimentPasswordRequired}}
                            <input  type="password" id="password" value="" placeholder="Password"><br><br>
                        {{/if}}
                        <div class="vh-5"></div>
                    {{else}}
                        <input  type="text" id="signInUsername" value="" placeholder="Username"><br>
                        <input  type="password" id="password" value="" placeholder="Password"><br><br>
                        <span class="help-inline danger errcheck" id="invalidLogin" hidden >Username password pair not found!</span>
                        <div class="vh-5"></div>
                    {{/if}}
                    {{#if showTestLogin}}
                    <br>
                        <a id="testSignInButton">Test Login (password not required)</a>
                        <br>
                    {{/if}}
                </form>
            </div>
        </div>
        {{#unless isExperiment}}
        <!-- login with sso and google -->
        <div class="row text-center large-spacer login-sso-options">
            <div class="col-lg-4 offset-lg-4 col-md-6 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12 large-spacer">
                <button type="button" id="signInButton" class="btn btn-fixed">Sign In</button><br>
                {{#unless isExperiment}}
                    <button type="button" id="signUpButton" class="btn btn-fixed">Sign Up</button><br>
                {{/unless}}
                <button type="button" id="signInButtonOAuth" class="btn btn-fixed">Sign In with Google</button><br>
                <button type="button" id="signInWithSSOButton" class="btn btn-fixed" data-bs-toggle="modal" data-bs-target="#classSelectModal">Class Select / SSO</button>
            </div>
        </div>
        <!-- footer -->
        {{> footer}}
        {{/unless}}
        <!-- modal for sso login, hidden by default -->
        <div class="modal" id="classSelectModal" tabindex="-1">
            <div class="modal-dialog fade-in-up">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-center w-100 p-3">Please type in your organization's URL</h5>
                  </div>
                  <div class="modal-body login-form ">
                    <form class="spacer">
                        <!-- SSO URL input -->
                        <input type="text" id="ssoUrl" value="" class="w-100 p-3" placeholder="https://sso.example.com"><br>
                        <!-- hidden teacher select form -->
                        <select id="teacherSelect" class="form-select" aria-label="Default select example" hidden>
                            <option selected>Select your teacher</option>
                            {{#each teacher}}
                                <option value="{{this.id}}">{{this.username}}</option>
                            {{/each}}
                        </select>
                        <!-- hidden class select form -->
                        <select id="classSelect" class="form-select" aria-label="Default select example" hidden>
                            <option selected>Select your class</option>
                            {{#each curTeacherClasses}}
                              {{#if checkSectionExists this.sectionName}}
                                <option value="{{this.sectionId}}">{{this.courseName}} - {{this.sectionName}}</option>
                              {{else}}
                                <option value="{{this.sectionId}}">{{this.courseName}}</option>
                              {{/if}}
                          {{/each}}
                        </select>
                    </form>
                        <div class="vh-5"></div>
                        <div class="row text-center">
                        <button type="button" class="btn btn-fixed">Sign In</button>
                        <button type="button" class="btn btn-fixed" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</template>