<template name="signIn">
    <div class="container">
        <!-- page header -->
        <div class="row text-center">
            <div class="col-12 mx-auto">
                <div class="vh-10"></div>
                <h1 align-bottom>MoFaCTS</h1>
                <span id="serverErrors"></span>
                <div class="vh-5"></div>
            </div>
        </div>
        <!-- centered login form -->
        <div class="row text-center login-form spacer">
            <div class="col-12 mx-auto">
                <form>
                    {{#if isExperiment}}
                        <input  type="text" id="signInUsername" value="" placeholder="Amazon Turk ID"><br>
                        {{#if experimentPasswordRequired}}
                            <input  type="password" id="password" value="" placeholder="Password"><br><br>
                        {{/if}}
                        <div class="vh-5"></div>
                    {{else}}
                        <input  type="text" id="signInUsername" value="" placeholder="Username"><br>
                        <input  type="password" id="password" value="" placeholder="Password"><br><br>
                        <span class="help-inline danger errcheck" id="invalidLogin" hidden >Username password pair not found!</span>
                    
                    {{/if}}
                    <div class="vh-5"></div>
                </form>
            </div>
        </div>
        {{#unless isExperiment}}
        <!-- login with sso and google -->
        <div class="row text-center large-spacer login-sso-options">
            <div class="col-12 mx-auto">
                {{#if showTestLogin}}
                    <button type="button" id="testSignInButton" class="btn btn-fixed">Test Log In</button><br>
                {{/if}}
                <button type="button" id="signInButton" class="btn btn-fixed">Log In</button><br>
                {{#unless isExperiment}}
                    <button type="button" id="signUpButton" class="btn btn-fixed">Sign Up</button><br>
                {{/unless}}
                <button data-bs-toggle="modal" class="btn btn-fixed btn-secondary" id="classSelectButton" data-bs-target="#classSelectModal">
                    Teacher / Class Select
                </button>
                <br>
                <button type="button" id="signInButtonOAuth" class="btn btn-fixed">
                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    Sign in with Google
                </button><br>
                <button type="button" id="signInWithMicrosoftSSO" class="btn btn-fixed">
                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/4/44/Microsoft_logo.svg" />
                    Sign in with Microsoft</button>
                <br>
                
                  
            </div>
        </div>
        <!-- footer -->
        {{> footer}}
        {{/unless}}
        <!-- modal for sso login, hidden by default -->
        <div class="modal" id="classSelectModal" tabindex="-1">
            <div class="modal-dialog fade-in-up">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Class Selection</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                  <div class="modal-body login-form text-center">
                    <p>
                        Select your teacher and class from the dropdowns below.
                    </p>
                    <form class="spacer text-center">
                        <!-- hidden teacher select form -->
                        <select id="teacherSelect" style="width:80%;" aria-label="Default select example">
                            <option selected>Select your teacher</option>
                            {{#each teachers}}
                                <option value="{{this._id}}">{{this.profile.name}}</option>
                            {{/each}}
                        </select>
                        <!-- hidden class select form -->
                        <select id="classSelect" style="width:80%;" aria-label="Default select example" hidden>
                            <option selected>Select your class</option>
                            {{#each curTeacherClasses}}
                              {{#if checkSectionExists this.sectionName}}
                                <option value="{{this.sectionId}}">{{this.courseName}} - {{this.sectionName}}</option>
                              {{else}}
                                <option value="{{this.sectionId}}">{{this.courseName}}</option>
                              {{/if}}
                          {{/each}}
                        </select>
                    </form>
                        <div class="vh-5"></div>
                        <div class="row row-col-2 text-center">
                            <div>
                                <button type="button" class="btn btn-fixed" id="cancelClassSelect" data-bs-dismiss="modal">Cancel</button>
                            </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</template>