DOCKER_REGISTRY=your-docker-registry
IMAGE_NAME=mofacts-mini
IMAGE_TAG=local
ROOT_URL=http://localhost:3200
PORT=3000
METEOR_SETTINGS_HOST_PATH=./settings.local.json
MONGO_URL='mongodb://local_app:local-app-password@mongodb:27017/MoFACT-meteor3?authSource=MoFACT-meteor3&replicaSet=mofacts-rs'
MOFACTS_NATIVE_MONGO_URL='mongodb://local_app:local-app-password@127.0.0.1:27017/MoFACT-meteor3?authSource=MoFACT-meteor3&replicaSet=mofacts-rs&directConnection=true'
EXPECTED_MONGO_DB_NAME=MoFACT-meteor3
METEOR_REACTIVITY_ORDER=polling
DDP_TRANSPORT=sockjs
MOFACTS_MONGO_REPLICA_SET_NAME=mofacts-rs
MOFACTS_MONGO_REPLICA_SET_MEMBER=mongodb:27017
MONGO_REPLICA_SET_KEYFILE_HOST_PATH=./local-secrets/mongodb-keyfile
MONGO_INITDB_ROOT_USERNAME=local_root
MONGO_INITDB_ROOT_PASSWORD=local-root-password
MOFACTS_MONGO_APP_DATABASE=MoFACT-meteor3
MOFACTS_MONGO_APP_USERNAME=local_app
MOFACTS_MONGO_APP_PASSWORD=local-app-password
REDIS_URL=redis://redis:6379/0
