<template name="dataDownload">
    {{#if isInRole 'admin'}}
        <div class="col-md-12" id="teacherSelectContainer">
            <legend class="downloadLegend">Teacher Select</legend>
            <select id="teacherSelect" name="teacherSelect">
                <option value="">Show all</option>
                {{#each teachers}}
                    {{#if this.username}}
                        <option value="{{this._id}}">{{this.username}}</option>
                    {{/if}}
                {{/each}}
            </select>
            {{#if isTeacherSelected}}
                <a class="downloadAllDataLink" href="/data-by-teacher/{{selectedTeacherId}}/datashop" target="_blank">
                    Download all TDF data for selected teacher
                </a>
            {{/if}}
        </div>
    {{/if}}

    {{#if showClasses}}
        <div class="col-md-12" id="classSelectContainer">
            <legend class="downloadLegend">Class Select</legend>
            <select id="classSelect" name="classSelect">
                <option value="">Show all</option>
                {{#each classes}}
                    <option value="{{this.courseid}}">{{this.coursename}}</option>
                {{/each}}
            </select>
            {{#if isClassSelected}}
                <a class="downloadAllDataLink" id="downloadDataByClass" data-classId="{{selectedClassId}}" href target="_blank">
                    Download all TDF data for selected class
                </a>
            {{/if}}
        </div>
    {{/if}}

    <div class="col-md-12" id="downloadContainer">
        <legend class="downloadLegend">Data Downloads</legend>
        <ul class="downloadContainerList" id="expDataDownloadContainer">
            <li><a class="exp-data-link" id="teacherDataDownloadLink" target="_blank" href>Download all TDF data for current user: {{user}}</a></li>
            {{#each dataDownloads}}
                <li><a class="exp-data-link" id="dataDownloadLink" target="_blank" data-fileName="{{this.content.fileName}}" href>Download: {{this.disp}}</a></li>
            {{/each}}
        </ul>
    </div>

    <div class="col-md-12" id="userClozeEditsContainer">
        <legend class="downloadLegend">User Cloze Edits</legend>
        <ul class="downloadContainerList" id="userClozeEditsDownloadContainer">
            {{#each userClozeEdits}}
                <li><a class="exp-data-link" target="_blank" href="/clozeEditHistory/{{this.authorId}}">Download: {{this.disp}}</a></li>
            {{/each}}
        </ul>
    </div>
</template>
