.thWideInstReport {
  width: 30%;
  padding-right: calc(5px * var(--app-density-scale));
  text-align: center;
}

#mainContent {
  padding-left: calc(20px * var(--app-density-scale));
  padding-right: calc(20px * var(--app-density-scale));
}
