<template name="instructorReporting">
{{#if isInRole 'admin, teacher'}}
  <br /><br />
    <legend class="text-center">Instructor Reporting</legend>
    <div id="mainContent">
      <h3>Class Selection</h3>
      <select id="class-select">
        <option selected="selected" value="{{INVALID}}" disabled="true">Select a class</option>
        {{#each classes}}
          <option value="{{this.courseId}}">{{this.courseName}}</option>
        {{/each}}
      </select>
      <div>
        <h3>Select Chapter</h3>
        <select id="tdf-select" disabled="true">
            <option selected="selected" value="{{INVALID}}" disabled="true">Select a tdf</option>
            <option value="xml">All</option>
            {{#each curInstructorReportingTdfs}}
              <option value="{{this.tdfid}}">{{this.displayname}}</option>
            {{/each}}
        </select>
        {{#if performanceLoading}}
          <p>Loading reports...</p>
        {{/if}}
      </div>
      <div>
        <h3>Practice Deadline</h3>
        <input type="date" id="practice-deadline-date" name="practice-deadline-date-select" disabled="true">
      </div>
      <div>
        <h3>Practice Time Threshold</h3>
        <select id="practice-time-select" disabled="true">
          <option selected="selected" value="{{INVALID}}" disabled="true">Select a time threshold</option>
          <option value="10">10 min</option>
          <option value="20">20 min</option>
          <option value="30">30 min</option>
          <option value="40">40 min</option>
          <option value="50">50 min</option>
          <option value="60">60 min</option>
          <option value="70">70 min</option>
          <option value="80">80 min</option>
          <option value="90">90 min</option>
        </select>
      </div>
      <h3>Class Data</h3>
        <table border="1">
          <tr><th class="thWide">ID</th><th class="thWide">% Correct</th><th class="thWide">Count</th><th>Total Time (min)</th><th>Completed Before Deadline</th></tr>
          {{#each curClassStudentPerformance}}
            <tr>
              <td><a onclick="navigateToStudentReporting('{{this.username}}')">{{this.username}}</a></td>
              <td>{{this.percentCorrect}}</td>
              <td>{{this.count}}</td>
              <td>{{this.totalTimeDisplay}}</td>
              <td>{{getUserMetThresholdStatus this.userId}}</td>
            </tr>
          {{/each}}
          <tr>
            <td>Total</td>
            <td>{{curClassPerformance.percentCorrect}}</td>
            <td>{{curClassPerformance.count}}</td>
            <td>{{curClassPerformance.totalTimeDisplay}}</td>
          </tr>
        </table>
    </div>
{{/if}}
</template>
