<template name="instructorReporting">
  <style>
    /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  </style>
{{#if isInRole 'admin, teacher'}}
  <br /><br />
    <legend class="text-center">Instructor Reporting</legend>
    <div id="mainContent">
      <h3>Class Selection</h3>
      <select id="class-select">
        <option selected="selected" value="{{INVALID}}" disabled="true">Select a class</option>
        {{#each classes}}
          <option value="{{this.courseId}}">{{this.courseName}}</option>
        {{/each}}
      </select>
      <div>
        <h3>Select Chapter</h3>
        <select id="tdf-select" disabled="true">
            <option selected="selected" value="{{INVALID}}" disabled="true">Select a tdf</option>
            <option value="xml">All</option>
            {{#each curInstructorReportingTdfs}}
              <option value="{{this.tdfid}}">{{this.displayname}}</option>
            {{/each}}
        </select>
        {{#if performanceLoading}}
          <p>Loading reports...</p>
        {{/if}}
      </div>
      <div>
        <h3>Practice Deadline</h3>
        <input type="date" id="practice-deadline-date" name="practice-deadline-date-select" disabled="true">
      </div>
      <div>
        <h3>Practice Time Threshold (Min)</h3>
        <input type="number" id="practice-time-select" disabled="true">
      </div>
      <h3>Class Data</h3>
        <table border="1">
          <tr><th class="thWide">ID</th><th class="thWide">% Correct</th><th class="thWide">Count</th><th>Total Time (min)</th><th>Completed Before Deadline</th></tr>
          {{#each curClassStudentPerformance}}
            <tr id="{{this.userId}}">
              <td><a onclick="navigateToStudentReporting('{{this.username}}')">{{this.username}}</a></td>
              <td>{{this.percentCorrect}}</td>
              <td>{{this.count}}</td>
              <td>{{this.totalTimeDisplay}}</td>
              <td>{{getUserMetThresholdStatus this.userId}}</td>
            </tr>
          {{/each}}
          <tr id="classReportingTotal">
            <td>Total</td>
            <td>{{curClassPerformance.percentCorrect}}</td>
            <td>{{curClassPerformance.count}}</td>
            <td>{{curClassPerformance.totalTimeDisplay}}</td>
          </tr>
        </table>
    </div>
{{/if}}
</template>
