<template name="studentReporting">
  {{#if isInRole 'admin, teacher'}}
    <h2 class="text-center">Progress for {{studentUsername}}</h2>
  {{else}}
    <h2 class="text-center">Progress for {{currentUser.username}}</h2>
  {{/if}}
  <div class="allContent">

    <div class="halfWidth centerForDesktop">
      You have been learning
         
      <select id="tdf-select">
          <option value="{{INVALID}}">Select a tdf</option>
          <!-- <option value="xml">All</option> -->
          {{#each studentReportingTdfs}}
            <option value="{{this.tdfid}}">{{this.displayName}}</option>
          {{/each}}
      </select>
        for {{curTotalTime}} minutes. 
  
    <div class="row" style="padding-top:20px;">
      <div class="gauge col-sm-6 col-xs-12">
        <div id="preview-textfield-custom" style="top:80px; position: relative;"><b>{{stimsSeen}} of {{stimCount}}</b></div>  
        <canvas class="dashCanvas donut" width="100" height="100" id="canvas-unit-item-progress"></canvas>
          <p>Items out of the {{stimCount}} total items for this unit.</p>      
      </div>
      <div class="gauge col-sm-6 col-xs-12">
          <div id="preview-textfield-custom" style="top:80px; position: relative;"><b>{{curStudentPerformanceCorrectInInteger}}%</b></div>  
          <canvas class="dashCanvas donut" width="100" height="100" id="canvas-unit-percent-correct"></canvas>
          <p>Percent correct so far.</p>      
      </div>
  </div>
  <div class="row">
      <div class="gauge col-sm-6 col-xs-12">
          <canvas class="dashCanvas gauge" width="125" height="100" id="canvas-ai-test-prediction"></canvas>
          <div id="preview-textfield" style="display:none;">0%</div>
          <p>How the AI thinks you will will do if you were tested on all of the previously seen flashcards now. </p>      
          
      </div>
      <div class="gauge col-sm-6 col-xs-12">
          <canvas class="dashCanvas gauge" width="125" height="100" id="canvas-ai-new-card-prediction"></canvas>
          <div id="preview-textfield" style="display:none;">0%</div>
          <p>How the AI thinks you will do when you see a new flashcard.</p>      
      </div>
    </div>


     
      <!-- <p>On a desktop machine you can see the item names and values for the bottom chart by hovering over the individual bars on the chart with your mouse.</p>
      <p>On mobile, to see item names and values for the bottom chart tap the individual bars on the chart.</p> -->
    </div> 
  </div>
</template>
