<template name="studentReporting">
  {{#if isInRole 'admin, teacher'}}
    <h2 class="text-center">Progress for {{studentUsername}}</h2>
  {{else}}
    <h2 class="text-center">Progress for {{currentUser.username}}</h2>
  {{/if}}
  <div class="allContent">

    <div class="halfWidth centerForDesktop">
      You have been learning
         
      <select id="tdf-select">
          <option value="{{INVALID}}">Select a tdf</option>
          <!-- <option value="xml">All</option> -->
          {{#each studentReportingTdfs}}
            <option value="{{this.tdfid}}">{{this.displayName}}</option>
          {{/each}}
      </select>
        for {{curTotalTime}} minute(s). You have practiced items {{curTotalAttempts}} time(s) so far.
    <div id="dashboardGauges" hidden>
      <div class="row" style="padding-top:20px;">   
        <div class="gauge col-sm-6 col-xs-12">
          <p>Mastered Items</p>   
          <div id="preview-textfield-custom" style="top:80px; position: relative; font-size: small;"><b>{{stimsSeen}} of {{stimCount}}</b></div>  
          <canvas class="dashCanvas masteredItems" width="100" height="100" id="canvas-unit-item-progress"></canvas>
        </div>
        <div class="gauge col-sm-6 col-xs-12">
          <p>Speed of Learning</p>      
            <div id="preview-textfield-custom" style="top:80px; position: relative;"></div>  
            <canvas class="dashCanvas learningSpeed" width="150" height="100" id="canvas-unit-percent-correct"></canvas>
            {{#if displayItemsMasteredPerMinute}}
              <p>Items mastered per minute: {{itemMasteryRate}}</p>
            {{/if}}
            {{#if displayEstimatedMasteryTime}}
              <p>Estimated time to master all items: {{itemMasteryTime}} minutes.</p>
            {{/if}}
        </div>
      </div>
      <div class="row text-center">
        <div class="gauge col-sm-12 col-xs-12">
          <p>Difficulty</p>    
          <canvas class="dashCanvas difficulty" width="250" height="100" id="canvas-ai-new-card-prediction"></canvas>
          <div id="preview-textfield" style="display:none;">0%</div>  
          <div class="row" style="margin:auto; max-width:250px;">
            <div class="col-xs-6">
              <p>Too Hard</p>
              <p data-toggle="tooltip"  style="font-size: small;" title="MoFaCTs thinks its choices have been too hard for optimal learning and will be trying to make it easier than before, you might try studying the feedback more carefully.">(Hover over this for more info)</p>
            </div>
            <div class="col-xs-6">
              <p>Too Easy</p>
              <p data-toggle="tooltip"  style="font-size: small;" title="MoFaCTs thinks its choices have been too easy for optimal learning and will be trying to make it harder. Sit tight, and the system will introduce more items to pick up the pace.">(Hover over this for more info)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p id="guagesUnavailableMsg" hidden>You do not have enough trials to display the progress report. It requires 30 trials.</p>


     
      <!-- <p>On a desktop machine you can see the item names and values for the bottom chart by hovering over the individual bars on the chart with your mouse.</p>
      <p>On mobile, to see item names and values for the bottom chart tap the individual bars on the chart.</p> -->
    </div> 
  </div>
</template>
