<!-- User Administration Template -->

<template name="adminControls">
    {{#if isInRole 'admin'}}
        <div class="container" style="margin-top: 1rem;">
            <h3 style="margin-top: 0; text-align: center;">Admin Control Panel</h3>

            <div class="admin-section" style="margin-top: 0;">
                <div class="row text-center">
                    <h4>Server Status</h4>
                </div>
                <div class="row row-cols-2">
                    <div class="col text-end">
                        Server Storage Space 
                    </div>
                    <div class="col">
                        <!-- boostrap progress bar-->
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow={{serverStatus.diskSpacePercent}} aria-valuemin="0" aria-valuemax="100" style="width: {{serverStatus.diskSpacePercent}}%"></div>
                        </div>  
                    </div>
                </div>
                <div class="row row-cols-2">
                    <div class="col text-end">
                        Server Storage Space (Text)
                    </div>
                    <div class="col">
                        Used {{serverStatus.diskSpacePercent}}%, Remaining ({{serverStatus.remainingSpace}}/{{serverStatus.diskSpace}} GB)
                    </div>
                </div>
            </div>

            <div class="admin-section">
                <div class="row text-center">
                    <h4>Test Logins</h4>
                </div>
                <form>
                    <div class="row row-cols-2">
                        <div class="col text-end">
                            <label class="form-check-label" for="verbosityRadio1">
                                Test Logins Enabled
                            </label>
                        </div>
                        <div class="col">
                            <input type="checkbox" class="form-check-input" id="testLoginsCheckbox">
                            {{#if testLoginsEnabled}}
                                <br>
                                Please logout and navigate to /testlogin to login as a test user.
                                <br>
                                You may also use /testlogin?username=testusername to login as a specific user.
                            {{/if}}
                        </div>
                    </div>
                </form>
            </div>

            <div class="admin-section">
                <div class="row text-center">
                    <h4>Update stimDisplayTypeMap</h4>
                </div>
                <div class="row">    
                    <div class="col text-center">
                        <button type="button" id="updateStimDisplayTypeMap" class="btn btn-fixed">Clear</button>
                    </div>
                </div>
            </div>

            <div class="admin-section">
                <div class="row text-center">
                    <h4>Verbosity Level</h4>
                </div>
                <form>
                    <div class="row row-cols-2">
                        <div class="col text-end">
                            <label class="form-check-label" for="verbosityRadio1">
                                Server Logs Only
                            </label>
                        </div>
                        <div class="col">
                            <input class="serverVerbosityRadio" type="radio" name="serverVerbosityRadio" id="verbosityRadio0">
                        </div>
                        <div class="col text-end">
                            <label class="form-check-label" for="verbosityRadio1">
                                Function Times Only
                            </label>
                        </div>
                        <div class="col">
                            <input class="serverVerbosityRadio" type="radio" name="serverVerbosityRadio" id="verbosityRadio1">
                        </div>
                        <div class="col text-end">
                            <label class="form-check-label" for="verbosityRadio2">
                                Server Logs and Function Times
                            </label>
                        </div>
                        <div class="col">
                            <input class="serverVerbosityRadio" type="radio" name="serverVerbosityRadio" id="verbosityRadio2">
                        </div>
                    </div>
                </form>
            </div>
        </div>

    {{/if}}

    <div class="admin-section">
        <div class="row text-center">
            <h4>Client Verbosity Level</h4>
        </div>
        <form>
            <div class="row row-cols-2">
                <div class="col text-end">
                    <label class="form-check-label" for="clientVerbosityRadio0">
                        No Logging (fastest)
                    </label>
                </div>
                <div class="col">
                    <input class="clientVerbosityRadio" type="radio" name="clientVerbosityRadio" id="clientVerbosityRadio0">
                </div>
                <div class="col text-end">
                    <label class="form-check-label" for="clientVerbosityRadio1">
                        Function Calls Only (slower)
                    </label>
                </div>
                <div class="col">
                    <input class="clientVerbosityRadio" type="radio" name="clientVerbosityRadio" id="clientVerbosityRadio1">
                </div>
                <div class="col text-end">
                    <label class="form-check-label" for="clientVerbosityRadio2">
                        Full Logging (slowest)
                    </label>
                </div>
                <div class="col">
                    <input class="clientVerbosityRadio" type="radio" name="clientVerbosityRadio" id="clientVerbosityRadio2">
                </div>
            </div>
        </form>
    </div>
</template>
    