<!-- User Administration Template -->

<template name="adminControls">
    {{#if isInRole 'admin'}}  
        <div class="container-fluid" style="padding: 0% 10%;">
            <div class="header-box">
                Admin Control Panel
            </div> 
            <div class="container">
                <div class="row text-center">
                    <h3>Server Status</h3>
                </div>
                <div class="row row-cols-2">
                    <div class="col text-end">
                        Server Storage Space 
                    </div>
                    <div class="col">
                        <!-- boostrap progress bar-->
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow={{serverStatus.diskSpacePercent}} aria-valuemin="0" aria-valuemax="100" style="width: {{serverStatus.diskSpacePercent}}%"></div>
                        </div>  
                    </div>
                </div>
                <div class="row row-cols-2">
                    <div class="col text-end">
                        Server Storage Space (Text)
                    </div>
                    <div class="col">
                        Used {{serverStatus.diskSpacePercent}}%, Remaining ({{serverStatus.remainingSpace}}/{{serverStatus.diskSpace}} GB)
                    </div>
                </div>
                <div class="row text-center">
                    <h3>Theme</h3>
                </div>
                {{#if currentTheme.enabled}}
                <div class="row">
                    <!-- warning of unsaved changes-->
                    <div class="alert alert-warning vh-5 vertical-center" role="alert" id="unsavedThemeChanges" hidden>
                        <h4 class="alert-heading">Unsaved Changes</h4>
                    </div>
                    <button type="button" id="themeSaveButton" class="btn btn-fixed">Save Custom Theme</button>
                </div>
                <div class="row row-cols-2">
                    <div class="col text-end">
                        <button type="button" id="themeInitButton" class="btn btn-fixed">Disable Custom Theme</button>
                    </div>
                    <div class="col">
                        <button type="button" id="themeResetButton" class="btn btn-fixed">Reset Custom Theme</button>
                    </div>
                    <div class="col text-end">
                        Theme Name:
                    </div>
                    <div class="col">
                        <input type="text" class="currentThemeProp" value="{{currentTheme.properties.themeName}}" data-id="themeName">    
                    </div>
                    <div class="col text-end">
                        Background Color:
                    </div>
                    <div class="col">
                        <input type="text" class="currentThemeProp" value="{{currentTheme.properties.background_color}}" data-id="background_color">
                        <input type="color" class="currentThemePropColor" value="{{currentTheme.properties.background_color}}" data-id="background_color">
                    </div>
                    <div class="col text-end">
                        Navigation Text Color:
                    </div>
                    <div class="col">
                        <input type="text" class="currentThemeProp" value="{{currentTheme.properties.navbar_text_color}}" data-id="navbar_text_color">
                        <input type="color" class="currentThemePropColor" value="{{currentTheme.properties.navbar_text_color}}" data-id="navbar_text_color">
                    </div>
                    <div class="col text-end">
                        Accent Color:
                    </div>
                    <div class="col">
                        <input type="text" class="currentThemeProp" value="{{currentTheme.properties.accent_color}}" data-id="accent_color">
                        <input type="color" class="currentThemePropColor" value="{{currentTheme.properties.accent_color}}" data-id="accent_color">
                    </div>
                    <div class="col text-end">
                        Primary Button Color:
                    </div>
                    <div class="col">
                        <input type="text" class="currentThemeProp" value="{{currentTheme.properties.button_color}}" data-id="button_color">
                        <input type="color" class="currentThemePropColor" value="{{currentTheme.properties.button_color}}" data-id="button_color">
                    </div>
                    <div class="col text-end">
                        Button Hover Color:
                    </div>
                    <div class="col">
                        <input type="text" class="currentThemeProp" value="{{currentTheme.properties.success_color}}" data-id="success_color">
                        <input type="color" class="currentThemePropColor" value="{{currentTheme.properties.success_color}}" data-id="success_color">
                    </div>
                    <div class="col text-end">
                        Primary Button Text Color:
                    </div>
                    <div class="col">
                        <input type="text" class="currentThemeProp" value="{{currentTheme.properties.primary_button_text_color}}" data-id="primary_button_text_color">
                        <input type="color" class="currentThemePropColor" value="{{currentTheme.properties.primary_button_text_color}}" data-id="primary_button_text_color">
                    </div>
                    <div class="col text-end">
                        Secondary Button and Menu Color:
                    </div>
                    <div class="col">
                        <input type="text" class="currentThemeProp" value="{{currentTheme.properties.secondary_color}}" data-id="secondary_color">
                        <input type="color" class="currentThemePropColor" value="{{currentTheme.properties.secondary_color}}" data-id="secondary_color">
                    </div>
                    <div class="col text-end">
                        Secondary Button Text and Menu Item Color:
                    </div>
                    <div class="col">
                        <input type="text" class="currentThemeProp" value="{{currentTheme.properties.secondary_text_color}}" data-id="secondary_text_color">
                        <input type="color" class="currentThemePropColor" value="{{currentTheme.properties.secondary_text_color}}" data-id="secondary_text_color">
                    </div>
                    <div class="col text-end">
                        Alert Color:
                    </div>
                    <div class="col">
                        <input type="text" class="currentThemeProp" value="{{currentTheme.properties.alert_color}}" data-id="alert_color">
                        <input type="color" class="currentThemePropColor" value="{{currentTheme.properties.alert_color}}" data-id="alert_color">  
                    </div>
                    <div class="col text-end">
                        Body Text Color:
                    </div>
                    <div class="col">
                        <input type="text" class="currentThemeProp" value="{{currentTheme.properties.text_color}}" data-id="text_color">
                        <input type="color" class="currentThemePropColor" value="{{currentTheme.properties.text_color}}" data-id="text_color">
                    </div>
                    <div class="col text-end">
                        Audio Alert Color
                    </div>
                    <div class="col">
                        <input type="text" class="currentThemeProp" value="{{currentTheme.properties.audio_alert_color}}" data-id="audio_alert_color">
                        <input type="color" class="currentThemePropColor" value="{{currentTheme.properties.audio_alert_color}}" data-id="audio_alert_color">
                    </div>
                    <div class="col text-end">
                        Top Bar / Neutral Color:
                    </div>
                    <div class="col">
                        <input type="text" class="currentThemeProp" value="{{currentTheme.properties.neutral_color}}" data-id="neutral_color">
                        <input type="color" class="currentThemePropColor" value="{{currentTheme.properties.neutral_color}}" data-id="neutral_color">
                    </div>
                    <div class="col text-end">
                        Navbar Text Color:
                    </div>
                    <div class="col">
                        <input type="text" class="currentThemeProp" value="{{currentTheme.properties.navbar_text_color}}" data-id="navbar_text_color">
                        <input type="color" class="currentThemePropColor" value="{{currentTheme.properties.navbar_text_color}}" data-id="navbar_text_color">
                    </div>
                    <div class="col text-end">
                        
                        Logo URL:
                    </div>
                    <div class="col">
                        <!-- file input -->
                        <input type="text" class="form-control currentThemeProp" value="{{currentTheme.properties.logo_url}}" data-id="logo_url">
                        <img src="{{currentTheme.properties.logo_url}}" alt="No logo set" class="img-thumbnail">
                    </div>
                </div>
                {{else}}
                <div class="row">    
                    <div class="col text-center">
                        <button type="button" id="themeInitButton" class="btn btn-fixed">Enable Custom Theme</button>
                    </div>
                </div>
                {{/if}}
                <div class="row text-center">
                    <h3>Test Logins</h3>
                </div>
                <form>
                    <div class="row row-cols-2">
                        <div class="col text-end">
                            <label class="form-check-label" for="verbosityRadio1">
                                Test Logins Enabled
                            </label>
                        </div>
                        <div class="col">
                            <input type="checkbox" class="form-check-input" id="testLoginsCheckbox">
                            {{#if testLoginsEnabled}}
                                <br>
                                Please logout and navigate to /testlogin to login as a test user.
                                <br>
                                You may also use /testlogin?username=testusername to login as a specific user.
                            {{/if}}
                        </div>
                    </div>
                </form>
                
                <div class="row text-center">
                    <h3>Update stimDisplayTypeMap</h3>
                </div>
                <div class="row">    
                    <div class="col text-center">
                        <button type="button" id="updateStimDisplayTypeMap" class="btn btn-fixed">Clear</button>
                    </div>
                </div>
                <div class="row text-center">
                    <h3>Verbosity Level</h3>
                </div>
                <form>
                    <div class="row row-cols-2">
                        <div class="col text-end">
                            <label class="form-check-label" for="verbosityRadio1">
                                Server Logs Only
                            </label>
                        </div>
                        <div class="col">
                            <input  type="radio" name="flexRadioDefault" id="verbosityRadio0">
                        </div>
                        <div class="col text-end">
                            <label class="form-check-label" for="verbosityRadio1">
                                Function Times Only
                            </label>
                        </div>
                        <div class="col">
                            <input  type="radio" name="flexRadioDefault" id="verbosityRadio1">
                        </div>
                        <div class="col text-end">
                            <label class="form-check-label" for="verbosityRadio2">
                                Server Logs and Function Times
                            </label>
                        </div>
                        <div class="col">
                            <input  type="radio" name="flexRadioDefault" id="verbosityRadio2">
                        </div>
                    </div>
                </form>
            </div>
        </div>
       
    {{/if}}
    <div class="container">
        <div class="row text-center">
            <h3>Client Verboisty Level</h3>
        </div>
        <form>
            <div class="row row-cols-2">
                <div class="col text-end">
                    <label class="form-check-label" for="clientVerbosityRadio0">
                        No Logging (fastest)
                    </label>
                </div>
                <div class="col">
                    <input class="clientVerbosityRadio" type="radio" name="flexRadioDefault" id="clientVerbosityRadio0">
                </div>
                <div class="col text-end">
                    <label class="form-check-label" for="clientVerbosityRadio1">
                        Function Calls Only (slower)
                    </label>
                </div>
                <div class="col">
                    <input class="clientVerbosityRadio" type="radio" name="flexRadioDefault" id="clientVerbosityRadio1">
                </div>
                <div class="col text-end">
                    <label class="form-check-label" for="clientVerbosityRadio2">
                        Full Logging (slowest)
                    </label>
                </div>
                <div class="col">
                    <input class="clientVerbosityRadio" type="radio" name="flexRadioDefault" id="clientVerbosityRadio2">
                </div>
            </div>
        </form>
    </div>

</template>
    