<template name="allItems">
    <div class="container">
        <div class="row" id="testButtonContainer">
            <legend class="text-center">
                Select a module to look at progress information:
            </legend>
            {{#each progressButtons}}
                <div class='col-sm-3 col-md-3 col-lg-3 text-center'>
                    <br />
                    <button type='button' class='btn btn-block stimButton'
                            id='{{_id}}' name='{{name}}'
                            data-lessonname = '{{lessonname}}'
                            data-stimulusfile = '{{stimulusfile}}'
                            data-tdfkey = '{{tdfkey}}'
                            data-tdffilename = '{{tdffilename}}'
                    >
                        {{name}}
                    </button>
                </div>
            {{/each}}
        </div>

        <br /><br />

        {{> about}}
    </div>
</template>
