<template name="cardTemplate">

	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container">
			<div class="navbar-header">

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">MoFaCTS</a>

			</div>  <!-- close header -->

			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{username}} <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#" class="homeLink">Home</a></li>
							<li class="divider"></li>
							<li><a href="#" class="logoutLink">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>  <!-- close navbar-collapse -->
		</div>  <!-- close container -->
	</nav>  <!-- close nav -->

	<div class="container">
		
		<br>
		<div class="row">
			<div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
				{{#if textCard}}
					<h2><label id="questionLabel">Question:</h2>
					<h2><div id="textQuesiton">{{currentQuestion}}</div></h2>
				{{/if}}
				{{#if audioCard}}
					<audio controls id="audio">
						<source src={{currentQuestion}} type="audio/wav">
						Your browser does not support the audio element.
					</audio>
				{{/if}}
				{{#if imageCard}}
					<img src={{currentQuestion}}>
				{{/if}}
			</div>  <!-- close column -->
		</div>  <!-- close row -->

		<div class="row">
			<div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
				<h2><label id="answerLabel">Answer:</label></h2>
				<h2><div id="answer">{{currentAnswer}}}</div></h2>
			</div>  <!-- close column -->
		</div>  <!-- close row -->
		
		<div class="row">
			<div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
				<div class="panel panel-primary">
					<div class="panel-heading text-center">Enter Your Answer Below</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-offset-1 col-lg-10 text-center">
								<input type="text" id="userAnswer">
							</div>
						</div>  <!-- close row -->
					</div>
				</div>
			</div>  <!-- close column -->
		</div>  <!-- close row -->

		<div class="row" id="multipleChoiceRow-A" hidden="true">
			<div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4 multiple-choice-option">
				<button type="button" id="multipleChoiseOption-A" class="btn btn-primary multipleChoiceButton">A:<!-- {{multipleChoiceAnswerA}} --></button>
			</div>
		</div> <!-- close row -->

		<div class="row" id="multipleChoiceRow-B" hidden="true">
			<div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4 multiple-choice-option">
				<button type="button" id="multipleChoiseOption-A" class="btn btn-primary multipleChoiceButton">B:<!-- {{multipleChoiceAnswerA}} --></button>
			</div>
		</div> <!-- close row -->

		<div class="row" id="multipleChoiceRow-C" hidden="true">
			<div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4 multiple-choice-option">
				<button type="button" id="multipleChoiseOption-A" class="btn btn-primary multipleChoiceButton">C:<!-- {{multipleChoiceAnswerA}} --></button>
			</div>
		</div> <!-- close row -->

		<div class="row" id="multipleChoiceRow-D" hidden="true">
			<div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4 multiple-choice-option">
				<button type="button" id="multipleChoiseOption-A" class="btn btn-primary multipleChoiceButton">D:<!-- {{multipleChoiceAnswerA}} --></button>
			</div>
		</div> <!-- close row -->

		<center>		
			<span class="help-inline danger" id="UserInteraction" hidden ></span>
		</center>

		{{invokeAfterLoad}}

	</div> <!-- close container -->

	
</template>