<template name="contentGeneration">

  <div id="edit-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><b>Edit</b></h4>
        </div> <!-- .modal-header -->
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12 nav-box">
              <b>Original Sentence:</b>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{editingSentence}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 nav-box">
              <b><p>Previous cloze/response:</p></b>
            </div>
            <div class="col-md-4 nav-box">
              <b><p>New cloze:</p></b>
            </div>
            <div class="col-md-4 nav-box">
              <b><p>Correct Response:</p></b>
            </div>
          </div>
          <div class="row flexContent">
            <div class="col-md-4">
              {{editingCloze}}&nbsp;/&nbsp;{{editingClozeResponse}}
            </div>
            <div class="col-md-4">
              <textarea id="clozeTextEdit">{{editingSentence}}</textarea>
            </div>
            <div class="col-md-4">
              <input id="clozeResponseEdit" type="text" />
            </div>
          </div>
        </div>
        <div class="modal-footer row">
          <div class="col-md-3">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
          <div class="col-md-6"></div>
          <div class="col-md-3">
            <button type="button" id="editClozeSaveButton" class="btn btn-primary">Save changes</button>
          </div>
        </div> <!-- .modal-footer -->
      </div> <!-- .modal-content -->
    </div> <!-- .modal-dialog -->
  </div> <!-- .modal -->

  <div id="save-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Submit</h4>
        </div> <!-- .modal-header -->
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 nav-box">
              <b>Display Name:</b>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <input type="text" id="tdfDisplayNameTextBox" placeholder="Enter a display name" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-md-3">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-3">
              <button type="button" class="btn btn-primary" id="save-btn-final">Submit</button>
            </div>
          </div>
        </div> <!-- .modal-footer -->
      </div> <!-- .modal-content -->
    </div> <!-- .modal-dialog -->
  </div> <!-- .modal -->

  <div class="row">
    <div class="col-md-5">
      <h3>Either paste in source material and click "Submit"</h3>
    </div>
    <div class="col-md-1">
      <center><h3><b>or</b></h3></center>
    </div>
    <div class="col-md-6">
      <h3>Choose an existing file as a template</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 form-group" id="textbox-div">
      <textarea class="form-control" id="source-text" placeholder="Paste source material here"></textarea>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <select id="templateTDFSelect">
        <option value="invalid" disabled="true" selected="true">Select a template</option>
        {{#each tdfs}}
          <option value="{{this.fileName}}">{{this.displayName}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5" id="submit-btn-div">
      <button class="btn btn-primary" type="button" id="submit-btn"> Submit </button>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <h3 id="fileTemplateLabel">Select a file template</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5" id="sentences-div">
      <h3>Sentences</h3>
      <div id="parsed-sentences">
        {{#each sentences}}
          {{#if this.hasCloze}}
            {{#if isCurrentPair this.itemId}}
              <span id="sentence" class="cur-sentence sentence-with-cloze" uid="{{this.itemId}}">{{this.sentence}}</span>
            {{else}}
              <span id="sentence" class="sentence-with-cloze" uid="{{this.itemId}}">{{this.sentence}}</span>
            {{/if}}
          {{else}}
          <span id="sentence" uid="{{this.itemId}}" class="sentence-no-cloze">{{this.sentence}}</span>
          {{/if}}
        {{/each}}
      </div>
    </div>
    <div class="col-md-7" id="clozes-div">
      <h3>Clozes</h3>
      <div id="extracted-clozes">
        {{#each clozes}}
          {{#if isCurrentPair this.itemId}}
            <div id="cloze" uid="{{this.itemId}}" cloze-uid="{{this.clozeId}}">
              <span class="cur-sentence">{{this.cloze}}</span>
              <input type="image" id="delete-btn" uid="{{this.itemId}}" cloze-uid="{{this.clozeId}}" src="images/trash.svg" />
              <input type="image" id="edit-btn" uid="{{this.itemId}}" cloze-uid="{{this.clozeId}}" src="images/edit.svg" />
            </div>
          {{else}}
            <div id="cloze" uid="{{this.itemId}}" cloze-uid="{{this.clozeId}}">
              <span>{{this.cloze}}</span>
              <input type="image" id="delete-btn" uid="{{this.itemId}}" cloze-uid="{{this.clozeId}}" src="images/trash.svg" />
              <input type="image" id="edit-btn" uid="{{this.itemId}}" cloze-uid="{{this.clozeId}}" src="images/edit.svg" />
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" id="footer"><button class="btn btn-primary" type="button" id="save-btn">Save</button></div>
  </div>

</template>
