textarea {
    resize: vertical;
    min-width: 100%;
}

#parsed-sentences {
    height: 600px;
    overflow: auto;
}

#extracted-clozes {
    height: 600px;
    overflow: auto;
}

.cur-sentence {
    color: #a834eb;
}

.sentence-no-cloze{
    color: #666666;
}
