<template name="curStudentPerformance">
    <section class="card-stats-container" aria-label="Current session performance">
        <div class="card-stats" role="group" aria-roledescription="Study stats">
            <div class="card-stat">
                <p class="card-stat-label" id="card-stat-time-label">Study time</p>
                <p class="card-stat-value" aria-labelledby="card-stat-time-label">
                    <span class="card-stat-number">{{curStudentPerformance.totalTimeDisplay}}</span>
                    <span class="card-stat-unit">min</span>
                </p>
            </div>
            <div class="card-stat">
                <p class="card-stat-label" id="card-stat-accuracy-label">Accuracy</p>
                <p class="card-stat-value" aria-labelledby="card-stat-accuracy-label">
                    <span class="card-stat-number">{{curStudentPerformance.percentCorrect}}</span>
                    <span class="card-stat-unit">correct</span>
                </p>
            </div>
        </div>
    </section>
</template>
