<template name="help">
  <div class="page-container page-loading" id="helpContainer">
    <div class="card admin-card">
      <div class="card-body">
        <div class="admin-section-heading">
          <i class="fa fa-question-circle admin-section-icon"></i>
          <h5>{{t 'help.studentHelpGuide'}}</h5>
        </div>

        {{#if ownerContact}}
        <p class="text-center admin-card">
          <em>{{t 'help.contactAdministrator' ownerContact=ownerContact}}</em>
        </p>
        {{/if}}

        <div id="helpContent" class="help-content help-markdown">
        </div>
      </div>
    </div>
  </div>
</template>
