<template name="instructionsTemplate">

	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container">
			<div class="navbar-header">

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">MoFaCTS</a>

			</div>  <!-- close header -->

			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="nav navbar-nav navbar-right">
					<button type="button" id="signUpButton" class="btn btn-primary navbar-btn">Sign Up</button>
				</ul>
			</div>  <!-- close navbar-collapse -->
		</div>  <!-- close container -->
	</nav>  <!-- close nav -->

	<div class="container">
		<div class="row">
			<legend class="text-center">Please enter the correct answer in the text box below.</legend>

				<div class="form-group">
					<div class="text-center">
						<button type="button" id="continueButton" class="btn btn-primary">Continue</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</template>