/** Example button override **/
body {
	background-color: #C1E1A6;
	font-family: 'Lato', sans-serif;
	color: white;
}

.navbar-inverse .navbar-collapse {
	background-color: #585858;

}

.navbar-inverse {
	background-color: #585858;
	box-shadow: 2px 2px 2px 2px #4d5a42;
}

.btn {
    border-radius: 0px;
	background-color: #118C4E;
	border-color: #118C4E;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	box-shadow: 1px 1px 1px 1px #4d5a42;
}

h3 {
	color: white;
    font-family: 'Lato', sans-serif;
}

h2 {
	font-family: 'Lato', sans-serif;
}

#answerLabel {
	font-family: 'Lato', sans-serif;
	width: 100%;
	background-color: #40a371;
	text-align: center;
	box-shadow: 1px 1px 1px 1px #4d5a42;	
}

#questionLabel {
	font-family: 'Lato', sans-serif;
	width: 100%;
	background-color: #40a371;
	text-align: center;
	box-shadow: 1px 1px 1px 1px #4d5a42;
}

legend {
	border-color: white;
}

#instructions {
	text-shadow: none;
	font-size: 18px;
}

#signUpButton {
	background: #40a371;
}

#textQuesiton {
	background:  #585858;
	text-align: center;
	font-family: 'Lato', sans-serif;
}

#answer {
	background:  #585858;
	text-align: center;
	font-family: 'Lato', sans-serif;
}

#audio {
	width: 100%;
}

img {
	display: block;
	margin: auto;
}

#signInButton {
	background: #40a371;
}

.btn-primary {
	border: none;
	background: #40a371;
	border-color: #40a371;
}


.form-group {
	margin-bottom: 8px;
}

legend {
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 32px;
	text-shadow: 1px 2px 4px black;
}

.stimButton {
	height: 75px;
}

.navbar {
	border-radius: 0px;
}

.navbar-inverse .navbar-brand {
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 28px;
	text-shadow: 1px 2px 4px black;
}

.dropdown-menu {
	background-color: #585858;
	color: white;
}

.dropdown-menu > li > a:focus {
	background-color: #585858;
	color: white;	
}

.form-control {
	border-radius: 0px;
}

.btn {
	border-color: #40a371;
	background-color: #40a371;
	font-family: 'Lato', sans-serif;
	width: 100%;
}

.btn-primary:hover {
	background-color: #40a371;
}

.form-control:focus {
	box-shadow: 1px 1px 1px 1px #118C4E;
	border: black;
}

.label {
	border-radius: 0px;
}

.dropdown-menu > li > a {
	color: white;
	background-color: #585858;
	font-family: 'Lato', sans-serif;
}

.dropdown-menu > li {
	color: white;
	background-color: #585858;
	font-family: 'Lato', sans-serif;
	border-color: black;
}

.dropdown-menu body {
	color: white;
	background-color: #585858;
	font-family: 'Lato', sans-serif;	
}

.panel, .panel-heading, .panel-body {
	border-radius: 0px;
}

.center-fill-parent {
	width: 100%;
	margin: auto;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
	background-color: #585858;
	font-family: 'Lato', sans-serif;
}

.navbar-inverse .navbar-nav > li > a:focus {
	color: white;
	background-color: #585858;
	font-family: 'Lato', sans-serif;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: white;
	background-color: #585858;
	font-family: 'Lato', sans-serif;	
}

.label-primary {
	background-color: #40a371;
	font-family: 'Lato', sans-serif;
}

#textQuesiton {
	font-family: 'Lato', sans-serif;
}

.label-success {
	background-color: #40a371;
}

.panel-primary > .panel-heading {
	background-color: #40a371;
	border-color: #40a371;
}

.panel-primary {
	border-color: #40a371;
}

input:focus {
	box-shadow: 1px 1px 1px 1px #118C4E;
	border: none;
}
