/** Example button override **/
.btn {
    border-radius: 0px;
}

.navbar {
	border-radius: 0px;
}

.form-control {
	border-radius: 0px;
}

.centered-vert-form-element {
	float: none;
    margin: 0 auto;
    margin-bottom: 15px;
}

.well {
	border-radius: 0px;
	background-color: #808080;
	border-color: #414141;
}
