<template name="nav">
<nav class="navbar bg-light">
  {{#if themeReady}}
  <div class="container-fluid page-loading navbar-align-{{currentTheme.properties.navbar_alignment}}">
    {{#unless isExperiment}}
    <a class="navbar-brand home-link" href="#" style="cursor: pointer;">
      {{#if currentTheme.properties.logo_url}}
        <img src="{{currentTheme.properties.logo_url}}"
             alt="{{currentTheme.properties.themeName}} Logo"
             width="30"
             height="30"
             loading="eager"
             decoding="async"
             fetchpriority="high"
             style="height: 30px; margin-right: 10px; vertical-align: middle;">
      {{/if}}
      {{currentTheme.properties.themeName}}
    </a>
    {{else}}
    <span class="navbar-brand">
      {{#if currentTheme.properties.logo_url}}
        <img src="{{currentTheme.properties.logo_url}}"
             alt="{{currentTheme.properties.themeName}} Logo"
             width="30"
             height="30"
             loading="eager"
             decoding="async"
             fetchpriority="high"
             style="height: 30px; margin-right: 10px; vertical-align: middle;">
      {{/if}}
      {{currentTheme.properties.themeName}}
    </span>
    {{/unless}}
  </div>
  {{else}}
  <!-- Reserve space while loading to prevent layout shift -->
  <div class="container-fluid navbar-loading-placeholder">
    <span class="navbar-brand" style="visibility: hidden;">Loading</span>
  </div>
  {{/if}}
</nav>
</template>
