<!-- MAIN profile template -->
<template name="profile">
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <div class="container">
      {{>profileAudioToggles}}
        {{#unless isInRole 'admin,teacher'}}
            <br>

            <div class="row" id="testButtonContainer">
                <legend class="text-center">
                    Practice modules:
                </legend>
            </div>
        {{/unless}}

        {{#if isInRole 'admin,teacher'}}
            <br><br>

            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <button id="tdfPracticeBtn" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#testButtonContainer" aria-expanded="false" aria-controls="testButtonContainer">
                        TDF Practice +
                    </button>
                </div>
            </div>
            <div class="row collapse" id="testButtonContainer">
                <legend class="text-center">
                    Practice modules:
                    <br>
                    <input type="checkbox" name="simulation" id="simulation" checked={{simulationChecked}}> Simulate if TDF param present?
                </legend>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <button type="button" id="mechTurkButton" class="button btn  navbar-btn">Mechanical Turk</button>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <button type="button" id="contentUploadButton" class="button btn  navbar-btn">Content and File Uploading</button>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <button type="button" id="userProfileEditButton" class="button btn  navbar-btn">AWS User Profile Data</button>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <button type="button" id="dataDownloadButton" class="button btn  navbar-btn">Download User Log Data</button>
                </div>
            </div>
            {{#if isInRole 'admin'}}
              <br><br>
              <div class="row">
                  <div class="col-md-offset-3 col-md-6">
                      <button type="button" id="userAdminButton" class="button btn  navbar-btn">User Admin</button>
                  </div>
              </div>
            {{/if}}
            <br><br>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <button type="button" id="classEditButton" class="button btn  navbar-btn">Class Edit</button>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <button type="button" id="tdfAssignmentEditButton" class="button btn  navbar-btn">Chapter Assignments</button>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <button type="button" id="instructorReportingButton" class="button btn  navbar-btn">Instructor Reporting</button>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <button type="button" id="contentGenerationButton" class="button btn  navbar-btn">Content Generation</button>
                </div>
            </div>
        {{/if}}

        <br><br>
        {{> about}}
    </div>
</template>
