<!-- MAIN profile template -->
<template name="profile">
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <div class="container">
      {{>profileAudioToggles}}
        {{#unless isInRole 'admin,teacher'}}
            <br>

            <div class="row" id="testButtonContainer">
                <legend class="text-center">
                    Practice modules:
                </legend>
            </div>
        {{/unless}}

        {{#if isInRole 'admin,teacher'}}
            {{> turkWorkflow}}
            <br><br>

            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#testButtonContainer" aria-expanded="false" aria-controls="testButtonContainer">
                        TDF Practice
                    </button>
                </div>
            </div>
            <div class="row collapse" id="testButtonContainer">
                <legend class="text-center">
                    Practice modules:
                    <br>
                    <input type="checkbox" name="simulation" id="simulation" checked={{simulationChecked}}> Simulate if TDF param present?
                </legend>
            </div>

            {{> contentUpload}}
            {{> userProfileEdit}}
            {{#if isInRole 'admin'}}
                {{> userAdmin}}
            {{/if}}
            {{#if isInRole 'admin, teacher'}}
                {{> classEdit}}
            {{/if}}
            {{#if isInRole 'admin, teacher'}}
                {{> tdfAssignmentEdit}}
            {{/if}}
            {{#if isInRole 'admin, teacher'}}
                {{> instructorReporting}}
            {{/if}}
            {{#if isInRole 'admin, teacher'}}
              {{> contentGeneration}}
            {{/if}}
        {{/if}}

        <br><br>
        {{> about}}
    </div>
</template>
