<template name="signInSouthwest">
    <div class="container">
      {{#if readingServerStatus}}
        <h1>Checking system status...</h1>
      {{else}}
        {{#if systemDown}}
          <h1>The system is currently down for maintenance.</h1>
        {{else}}
            {{#if systemOverloaded}}
              <h1>The system is currently at capacity. Please check back in about 15 minutes.</h1>
            {{else}}
              <div class="row" id="initialInstructorSelection">
                <label>Please click on the link corresponding to your instructor.  {{#if altServerUrl}}If your instructor is not listed, click <a href="{{altServerUrl}}">here</a> to go to our other server and login.{{/if}}</label>
                {{#each teachers}}
                  <ul>
                    <li><a href="#" onclick="setTeacher({_id:'{{this._id}}',username:'{{this.username}}'})">{{this.username}}</a></li>
                  </ul>
                {{/each}}
              </div>

              <div class="row" hidden="true" id="classSelection">
                <label>Please click on the link corresponding to your class</label>
                {{#each curTeacherClasses}}
                  <ul>
                    <li><a href="#" onclick="setClass('{{this._id}}')">{{this.name}}</a></li>
                  </ul>
                {{/each}}
              </div>
            {{/if}}

            {{#if showTestLogins}}
              <div class="row login" id="loginDiv" hidden="true">
                  <div class="col-xs-12 col-sm-10 col-md-3 col-lg-3">
                      <div class="form-group">
                          <label for="username">Username</label>
                          <input class="form-control accept-enter-key" type="text" id="username" value="" placeholder="Username">
                      </div>
                      <div class="form-group">
                          <a class="btn btn-default btn-danger" id="signInButton" href="#">
                              Sign In
                          </a>
                      </div>
                      <br>
                  </div>
              </div>
            {{/if}}

            <a href="#" hidden="true" class="saml-login login" data-provider="adfs">Southwest SSO Click Here</a>
            <p hidden="true" class="login">(If the login box is blank, you need to clear your cache in order to login.)</p>
        {{/if}}
      {{/if}}

      {{> about}}
    </div>
</template>
