<template name="signUpTemplate">

	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<a class="navbar-brand" href="">MoFACTS</a>
				</div>
				<div class="col-xs-offset-9 col-xs-1">
					<button type="button" id="signInButton" class="btn btn-primary navbar-btn">Login</button>
				</div>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<legend class="text-center">Sign Up</legend>

			<form class="form-horizontal" role="form">

				<div class="form-group">
					<div class="col-xs-offset-5 col-xs-2">
						<input class="form-control" type="text" id="signUpUsername" value="" placeholder="Username">
					</div>
					<span class="help-inline danger" id="usernameAlreadyInUse" hidden >Username already taken!</span>
					<span class="help-inline danger" id="usernameTooShort" hidden >Must be at least 6 characters long!</span>
				</div>

				<div class="form-group">
					<div class="col-xs-offset-5 col-xs-2">
						<input class="form-control" type="password" id="password1" value="" placeholder="Password">
					</div>
					<span class="help-inline danger" id="passwordTooShort" hidden >Must be at least 6 characters long!</span>
				</div>

				<div class="form-group">
					<div class="col-xs-offset-5 col-xs-2">
						<input class="form-control" type="password" id="password2" value="" placeholder="Re-Type Password">
					</div>
					<span class="help-inline danger" id="passwordMustMatch" hidden >Password fields must match!</span>
				</div>

				<div class="form-group">
					<div class="text-center">
						<button type="button" id="signUpButton" class="btn btn-primary">Sign Up</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>
