<template name="signIn">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                <legend>Sign In</legend>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-4 col-lg-4">
                <!-- TODO: undo this -->
                {{#if isExperiment}}
                <div class="form-group">
                    <input class="form-control accept-enter-key" type="text" id="signInUsername" value="" placeholder="Your Amazon TURK ID or Assigned Student ID">
                </div>
                  {{#if experimentPasswordRequired}}
                    <div class="form-group">
                        <input class="form-control accept-enter-key" type="password" id="password" value="" placeholder="Password">
                    </div>
                  {{/if}}
                {{else}}
                <div class="form-group">
                    <input class="form-control accept-enter-key" type="text" id="signInUsername" value="" placeholder="Username">
                    <span class="help-inline danger errcheck" id="invalidLogin" hidden >Username password pair not found!</span>
                </div>
                <div class="form-group">
                    <input class="form-control accept-enter-key" type="password" id="password" value="" placeholder="Password">
                </div>
                {{/if}}

                <div class="form-group">
                    <button type="button" id="signInButton" class="btn ">Sign In</button>
                    <span class="help-inline danger errcheck" id="serverErrors" hidden ></span>
                </div>
            </div>
        </div>

        {{#if isNormal}}
            {{> about}}
        {{/if}}
    </div>
</template>
