<template name="signUpTemplate">

	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<a class="navbar-brand" href="">MoFACTS</a>
				</div>
				<div class="col-xs-offset-9 col-xs-1">
					<button type="button" id="signInButton" class="btn btn-primary navbar-btn">Sign In</button>
				</div>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<fieldset>
				<form class="form-horizontal" role="form">
					<legend>Sign Up</legend>

					<div class="form-group">
						<label class="col-xs-2 control-label" for="username">Username:</label>
						<div class="col-xs-2">
							<input class="form-control" type="text" id="username" value="" placeholder="Username">
						</div>
						<div class="alert alert-danger badUsername" hidden="true">bad username</div>
					</div>

					<div class="form-group">
						<label class="col-xs-2 control-label" for="password1">Password:</label>
						<div class="col-xs-2">
							<input class="form-control" type="password" id="password1" value="" placeholder="Password">
						</div>
					</div>

					<div class="form-group">
						<label class="col-xs-2 control-label" for="password2">Re-type Password:</label>
						<div class="col-xs-2">
							<input class="form-control" type="password" id="password2" value="" placeholder="Password">
						</div>
					</div>

					<div class="form-group">
						<div class="col-xs-offset-2 col-xs-2">
							<button type="button" id="createAccountButton" class="btn btn-primary">Create Account</button>
						</div>
					</div>

				</form>
			</fieldset>
		</div>
	</div>

</template>
