<template name="statsPageTemplate">

	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container">
			<div class="navbar-header">

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">MoFaCTS</a>

			</div>  <!-- close header -->

			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{username}} <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#" class="homeLink">Home</a></li>
							<li class="divider"></li>
							<li><a href="#" class="logoutLink">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>  <!-- close navbar-collapse -->
		</div>  <!-- close container -->
	</nav>  <!-- close nav -->

	<div class="container">
		<div class="row">
			<legend class="text-center"><h2>Congratulations, {{username}}. <br> You finished a test</h2></legend>

            <div id="statsAndStuff">
            </div>
		</div>
	</div>
</template>
