<template name="studentReporting">
  {{#if isInRole 'admin, teacher'}}
    <h1 class="text-center">Progress for {{studentUsername}}</h1>
  {{else}}
    <h1 class="text-center">Progress for {{currentUser.username}}</h1>
  {{/if}}
  <div class="allContent">
    <div>
      <h2>Select Chapter</h2>
      <select id="tdf-select">
          <option value="invalid" disabled="true">Select a tdf</option>
          <option value="xml">All</option>
          {{#each tdfs}}
            <option value="{{this.fileName}}">{{this.displayName}}</option>
          {{/each}}
      </select>
    </div>
    <div>
      <h2>Progress Data</h2>
      <table border="0" class="centerAndHalfWidth">
        <tr><th class="thWide">% Correct</th><th class="thWide">Count</th><th class="thWide">Total Time (minutes)</th></tr>
          <tr>
            <td>{{curStudentPerformance.percentCorrect}}</td>
            <td>{{curStudentPerformance.count}}</td>
            <td>{{curStudentPerformance.totalTime}}</td>
          </tr>
      </table>
    </div>
    <div>
      <h2>Progress Charts</h2>
      <div>
        <h3>Corrrectness Across Repetitions of the Same Fill-in</h3>
        <div class="graphs centerAndHalfWidth">
         <div style="left: unset;" class="ct-chart .ct-major-twelfth show-axis-labels toggled displayed" id="correctnessChart"></div>
        </div>
        <h3>Current Estimate of Recall</h3>
        <div class="graphs centerAndHalfWidth">
         <div style="left: unset;" class="ct-chart .ct-major-twelfth show-axis-labels toggled displayed" id="cardProbsChart"></div>
        </div>
      </div>
    </div>
  </div>
</template>
