<template name="teacherReporting">
{{#if isInRole 'admin, teacher'}}
  <br /><br />
  <div class="row">
      <div class="col-md-offset-3 col-md-6">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#teacherReportingCollapse" aria-expanded="false" aria-controls="teacherReportingCollapse">
              Teacher Reporting
          </button>
      </div>
  </div>

  <div class="row collapse" id="teacherReportingCollapse">
    <legend class="text-center">Teacher Reporting</legend>
    <div id="mainContent">
      <div>
        <h3>Select Chapter</h3>
        <select id="tdf-select">
            <option selected="selected" value="invalid" disabled="true">Select a tdf</option>
            <option value="">All</option>
            {{#each tdfs}}
              <option value="{{this.fileName}}">{{this.fileName}}</option>
            {{/each}}
        </select>
      </div>
      <h3>Class Data</h3>
      <ul class="nav nav-tabs">
        {{#each classes}}
          <li><a data-toggle="tab" href="#{{replaceSpacesWithUnderscores this.name}}" class="myNavTab">{{this.name}}</a></li>
        {{/each}}
      </ul>
      <div class="tab-content">
        {{#each classes}}
          <div id="{{replaceSpacesWithUnderscores this.name}}" class="tab-pane fade">
            <table border="1">
              <tr><th class="thWide">ID</th><th class="thWide">% Correct</th><th class="thWide">Count</th><th>Total Time (seconds)</th></tr>
              {{#each studentInCurClass in getCurClassStudents this.name}}
                <tr>
                  <td><a onclick="navigateToStudentReporting('{{studentInCurClass.username}}')">{{studentInCurClass.username}}</a></td>
                  <td>{{studentInCurClass.percentCorrect}}</td>
                  <td>{{studentInCurClass.count}}</td>
                  <td>{{studentInCurClass.totalTime}}</td>
                </tr>
              {{/each}}
              <tr>
                <td>Total</td>
                <td>{{curClassStudentTotals.percentCorrect}}</td>
                <td>{{curClassStudentTotals.count}}</td>
                <td>{{curClassStudentTotals.totalTime}}</td>
              </tr>
            </table>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
{{/if}}
</template>
