<!-- Turk Workflow Template -->

<template name="turkWorkflow">
    <div class="header-box">
        Mechanical Turk Workflow
       </div> 
    <div id="turkLogEntireWorkflow">
        {{#if turkExperimentLogToShow}}
        <div id="turkLogAll">
            <div class="row">
                <div class="col-md-12 form-inline">
                    <h3 class="text-center">
                        Turk Experiment Log <span id="turkExpTitle"></span>
                    </h3>

                    <div class="form-group">
                        <input type="text" class="form-control" name="turklog-filt" id="turklog-filt" value="" placeholder="Only show users with this many trials">
                    </div>

                    
                    <div class="table-repsonsive">
                        <table class="table table-striped table-bordered">
                            <thead><tr>
                                <th>User MongoDB ID</th>
                                <th>User Name (Turk)</th>
                                <th>Email Sched</th>
                                <th>Correct</th>
                                <th>Approval</th>
                                <th>Email Sent</th>
                                <th>Last Unit</th>
                                <th>Q Seen</th>
                                <th>A Given</th>
                                <th>Bonus</th>
                            </tr></thead>

                            <tbody>
                            {{#each turkExperimentLog}}
                                <tr>
                                    <td>{{userid}}</td>
                                    <td>{{turk_username}}</td>
                                    <td>
                                        {{#if haveEmailSched}}
                                        <button type="button"
                                            class="btn-icon btn-sched-detail"
                                            data-idx="{{idx}}"
                                        ><i class="fa fa-magnifying-glass-plus"></i>
                                        </button>
                                        {{/if}}
                                        {{turkEmailSchedule}}
                                    </td>
                                    <td>{{answersCorrect}}</td>
                                    <td>
                                        {{#if needPay}}
                                            <button type="button"
                                                class="btn-icon btn-pay-action"
                                                data-idx="{{idx}}"
                                            ><i class="fa fa-dollar-sign"></i>Approve/Pay
                                            </button>
                                        {{else}}
                                            <button type="button"
                                                class="btn-icon btn-pay-detail"
                                                data-idx="{{idx}}"
                                            ><i class="fa fa-magnifying-glass-plus"></i>
                                            </button>
                                            {{turkpay}}
                                        {{/if}}
                                    </td>
                                    <td>
                                        {{#if haveEmailSend}}
                                        <button type="button"
                                            class="btn-icon btn-send-detail"
                                            data-idx="{{idx}}"
                                        ><i class="fa fa-magnifying-glass-plus"></i>
                                        </button>
                                        {{/if}}
                                        {{turkEmailSend}}
                                    </td>
                                    <td>{{lastUnitSeen}}</td>
                                    <td>{{questionsSeen}}</td>
                                    <td>{{answersSeen}}</td>
                                    <td>
                                        {{#if needBonus}}
                                            <button type="button"
                                                class="btn-icon btn-bonus-action"
                                                data-idx="{{idx}}"
                                            ><i class="fa fa-dollar-sign"></i>Send Bonus
                                            </button>
                                        {{else}}
                                            <button type="button"
                                                class="btn-icon btn-bonus-detail"
                                                data-idx="{{idx}}"
                                            ><i class="fa fa-magnifying-glass-plus"></i>
                                            </button>
                                            {{turkbonus}}
                                        {{/if}}
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> <!-- /turkLogAll -->
        {{/if}}
        <div class="row form-inline">
            <div class="col-md-6" id="turk-assignment-details">
                <div id="name">
                    <h3 class="text-center">View Turk Assignment Details</h3>
                        <input type="text" class="form-control" name="turk-assignid" id="turk-assignid" value="" placeholder="Mechanical Turk AssignmentID">
                    <button id="turk-show-assign" class="btn width-80-percent">Get Assignment</button>
                    <pre id="turk-assign-results" style="width:100%">
                    </pre>
                </div>
            </div>

            <div class="col-md-6" id="turk-send-message">
                <div id="name">
                    <h3 class="text-center">Send Turk Message</h3>
                    <div class="form-group">
                        <input type="text" class="form-control" name="turk-workerid" id="turk-workerid" value="" placeholder="Mechanical Turk WorkerID">
                    </div>
                    <textarea name="turk-msg" id="turk-msg" rows="12" placeholder="Message text goes here"></textarea>
                    <button id="turk-send-msg" class="btn width-80-percent">Send</button>
                </div>
            </div>
        </div>
    </div> <!-- /turkLogEntireWorkflow -->


    <div class="modal fade" id="turkModal" tabindex="-1" role="dialog" aria-labelledby="turkModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="turkModalLabel">Please Wait</h4>
                </div>
                <div class="modal-body">
                    <div class="clearfix">
                        <img src="/styles/mofacts_waiting.gif" class="img-responsive pull-left"/>
                        <p class="pull-right">Please wait while we contact Mechanical Turk</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel">
        <div class="modal-dialog" role="document" style="width:98%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="detailsModalLabel">Turk Experiment Log Details</h4>
                </div>
                <div class="modal-body">
                    <div id="detailsModalListing" style="white-space:pre;"></div>
                </div>
            </div>
        </div>
    </div>

</template>
