<!-- User Administration Template -->

<template name="userAdmin">
{{#if isInRole 'admin,teacher'}}
    <div class="container" style="margin-top: 1rem;">
        <h2 style="margin-top: 0; text-align: center;">User Admin</h2>
  
    <div class="row text-center">
        <h4>Import User File</h4>
        <div class="vh-5"></div>
        <div class="row text-center">        
            <input type="file" class="form-control w-50 mx-auto" name="upload-users" id="upload-users" value="" placeholder="Users File">
            <br>
            <span class='label label-info file-info' id="users-file-info"></span>
        </div>
        <div class="vh-5"></div>
        <div class="row row-cols-md-2 row-cols-sm-1 row-cols-xs-1 gy-2">
            <div class="col">
                <button type='button' id='doUploadUsers' class='btn'>
                    Batch Import Users
                </button>
            </div>
            <div class="col">
                {{#if isInRole 'admin'}}
                    <button type='button' id='resetAllSecretKeys' class='btn'>
                        Reset Teacher Secret Keys
                    </button>
                {{/if}}
            </div>
        </div>
        <div class="vh-5"></div>
        <div class="row text-center">
            <h4>User list</h4>
            <div class="vh-5"></div>
        </div>
        <p>Filter: <input type="text" name="filter" id="filter" value="@gmail.com" placeholder="Filter"></p>
        <div class="table-repsonsive">
            <table class="table user-admin-table">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Admin</th>
                        <th>Teacher</th>
                        <th>Actions:</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each userRoleEditList}}
                    <tr>
                        <td>{{username}}</td>

                        <td>
                            {{#if admin}}
                                <i class="fa fa-check"></i>
                                Yes
                            {{else}}
                                <i class="fa fa-minus"></i>
                                No
                            {{/if}}
                        </td>

                        <td>
                            {{#if teacher}}
                                <i class="fa fa-check"></i>
                                Yes
                            {{else}}
                                <i class="fa fa-minus"></i>
                                No
                            {{/if}}
                        </td>
                        <td>
                            <a type="button"
                                class="btn-impersonate"
                                data-userid="{{_id}}"
                            ><span class="fa fa-users"></span> Impersonate
                            </a>
                            <br>
                            {{#if admin}}
                                <a
                                    class="btn-user-change"
                                    data-userid="{{_id}}"
                                    data-rolename="admin"
                                    data-roleaction="remove"
                                >Remove from Admins
                                </a>
                            {{else}}
                                <a
                                    class="btn-user-change"
                                    data-userid="{{_id}}"
                                    data-rolename="admin"
                                    data-roleaction="add"
                                    >Add to Admins
                                </a>
                            {{/if}}
                            <br>
                            {{#if teacher}}
                            <a type="button"
                                class="btn-user-change"
                                data-userid="{{_id}}"
                                data-rolename="teacher"
                                data-roleaction="remove"
                                >Remove from Teachers
                            </a>
                            {{else}}
                            <a type="button"
                                class="btn-user-change"
                                data-userid="{{_id}}"
                                data-rolename="teacher"
                                data-roleaction="add"
                                >Add to Teachers
                            </a>
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="userAdminModal" tabindex="-1" role="dialog" aria-labelledby="userAdminModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="userAdminModalLabel">Please Wait</h4>
                </div>
                <div class="modal-body">
                    <div class="clearfix">
                        <img src="/styles/mofacts_waiting.gif" class="img-responsive pull-left"/>
                        <p class="pull-right">Please wait while your request is processed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{else}}
    <div class="container" style="margin-top: 1rem;">
        <h2 style="margin-top: 0; text-align: center;">User Admin</h2>
        <h3 class="text-center">You do not have access to this function.</h3>
    </div>
{{/if}}
</template>
