<!----------------------------------------------------------------------------
User Profile (AWS) editing template
----------------------------------------------------------------------------->
<template name="userProfileEdit">
    <br><br>
    <div class="row">
        <div class="col-md-5" id="profileContainer">
            <legend class="text-center">Profile Data</legend>
            <!-- TODO: Format this input form with a bootstrappy form -->
            <table class="table">
                <tr>
                    <th>New AWS ID</th>
                    <td>
                        <input type="text"
                            id="profileAWSID"
                            class="clearOnSave"
                            maxlength="40"
                            placeholder="{{#if have_aws_id}}Overwrite{{else}}Enter{{/if}} your AWS ID"
                        >
                    </td>
                </tr>
                <tr>
                    <th>New AWS Secret Key</th>
                    <td>
                        <input type="password"
                            id="profileAWSSecret"
                            class="clearOnSave"
                            maxlength="60"
                            placeholder="{{#if have_aws_secret}}Overwrite{{else}}Enter{{/if}} your AWS Secret Key"
                        >
                    </td>
                </tr>
                <tr>
                    <th>Use Sandbox</th>
                    <td><input type="checkbox" id="profileUseSandbox" checked={{use_sandbox}}></td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <td>
                        <button type='button' id='saveProfile' class='btn btn-fix'>
                            Save Profile Data
                        </button>
                        <br>
                        <small>(Your AWS credentials are never shown)</small>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-md-offset-1 col-md-6" id="downloadContainer">
            <legend class="text-center">Data Downloads</legend>
            <div id="expDataDownloadContainer" class="col-lg-12"></div>
        </div>
    </div>
</template>
