<!-- User Administration Template -->

<template name="userAdmin">
    <div class="header-box">
        User Administration
       </div> 
{{#if isInRole 'admin,teacher'}}  
    <div class="col-md-12">
        <h3>User Administration</h3>
        <h4>Upload User File</h4>
        <div class="row">
            <div class="col-md-3">
            <div class="form-group">
                <span class="btn btn-default btn-file" >
                    Browse
                    <input type="file" class="form-control" name="upload-users" id="upload-users" value="" placeholder="Users File">
                    <span class='label label-info file-info' id="users-file-info"></span>
                </span>
            </div>
            <div class="form-group">
                <button type='button' id='doUploadUsers' class='btn btn-fix btn-default'>
                    Upload User File
                </button>
            </div>
            <div class="form-group">
            {{#if isInRole 'admin'}}
                <button type='button' id='resetAllSecretKeys' class='btn btn-fix btn-default'>
                    Reset Teacher Secret Keys
                </button>
            {{/if}}
            </div>
            </div>
        </div>

        <h4>User list</h4>

        <table class="table table-striped table-bordered table-condensed user-admin-table">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Admin?</th>
                    <th>Teacher?</th>
                    <th>Impersonate:</th>
                </tr>
                <tr>
                    <th>Filter: <input type="text" name="filter" id="filter" value="@gmail.com" placeholder="Filter"></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each userRoleEditList}}
                <tr>
                    <td>{{username}}</td>

                    <td>
                        {{#if admin}}
                            <i class="fa fa-check"></i>
                            Yes
                            <button type="button"
                                class="btn btn-fix btn-primary btn-xs btn-user-change"
                                data-userid="{{_id}}"
                                data-rolename="admin"
                                data-roleaction="remove"
                            ><i class="fa fa-minus"></i> Remove from Admins
                            </button>
                        {{else}}
                            <i class="fa fa-minus"></i>
                            No
                            <button type="button"
                                class="btn btn-fix btn-danger btn-xs btn-user-change"
                                data-userid="{{_id}}"
                                data-rolename="admin"
                                data-roleaction="add"
                            ><span class="fa fa-plus"></span> Add to Admins
                            </button>
                        {{/if}}
                    </td>

                    <td>
                        {{#if teacher}}
                            <i class="fa fa-check"></i>
                            Yes
                            <button type="button"
                                class="btn btn-fix btn-primary btn-xs btn-user-change"
                                data-userid="{{_id}}"
                                data-rolename="teacher"
                                data-roleaction="remove"
                            ><i class="fa fa-minus"></i> Remove from Teachers
                            </button>
                        {{else}}
                            <i class="fa fa-minus"></i>
                            No
                            <button type="button"
                                class="btn btn-fix btn-danger btn-xs btn-user-change"
                                data-userid="{{_id}}"
                                data-rolename="teacher"
                                data-roleaction="add"
                            ><span class="fa fa-plus"></span> Add to Teachers
                            </button>
                        {{/if}}
                    </td>
                    <td>
                            <button type="button"
                            class="btn btn-fix btn-danger btn-xs btn-impersonate"
                            data-userid="{{_id}}"
                        ><span class="fa fa-users"></span> Impersonate
                        </button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="userAdminModal" tabindex="-1" role="dialog" aria-labelledby="userAdminModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="userAdminModalLabel">Please Wait</h4>
                </div>
                <div class="modal-body">
                    <div class="clearfix">
                        <img src="/styles/mofacts_waiting.gif" class="img-responsive pull-left"/>
                        <p class="pull-right">Please wait while your request is processed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <h3>You do not have access to this function.</h3>
{{/if}}
</template>
