<template name="profileSouthwest">
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <div class="container">
      <div>
        {{>profileAudioToggles}}
      </div>
      <br />
      <div class="row" id="testButtonContainer">
          <legend class="text-center">
              Practice modules:
              <div class="row" style="border:1px black;">
                <h5 style="color:black;"><i class="fa fa-microphone"></i> Voice recognition enabled.</h5>
                <h5><span class="glyphicon glyphicon-headphones"></span>Text to Speech enabled</h5>
            </div>
          </legend>
      </div>
    </div>
</template>
