<template name="profileDebugToggles">
    <div class="padLeftAndRight row toggleSwitchContainer">
      <div class="debug-button-containers">
        <p style="font-size: larger;">Debug Menu</p>
          <div id="switch-probparams" class="switch-3 switch-candy">
            <input class="debugPromptRadio" id="debugProbParmsDisplay" name="state-db" type="checkbox" />
            <label for="debugProbParmsDisplay" onclick="">Display Probability Function Input Parameters</label>
          </div>
      </div>
    </div>
    <br/>
  </template> 