<!-- MAIN profile template -->
<template name="profile">
    <div class="row profile-summary mobile-20vh">
        <div class="container">
        <div class="row">
            <div class="col-12 offset-md-2 offset-sm-1 offset-lg-1 offset-2">
                <table>
                    <tr>
                        <td>
                            <div class="name-circle" hidden>
                                <span class="mx-auto">
                                    
                                </span>
                            </div>
                        </td>
                        <td>
                            <span class="ms-2">
                                {{#if isInRole 'admin, teacher'}}
                                <b>{{studentUsername}}</b>
                                <i>
                                {{#if isInRole 'admin'}}
                                    Administrator
                                    {{#if isInRole 'teacher'}}
                                        / Teacher
                                    {{/if}}
                                {{else}}
                                    Teacher
                                {{/if}}
                                </i>
                              {{else}}
                                <b>{{currentUser.username}}</b>
                                <i>Student</i>
                              {{/if}}
                              <br>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
            <div class="row">
                <div class="col-12 mt-auto">
                    <div class="row profile-summary-text">                        
                        <div class="col-12" style="">
                            <input type="text" id="practiceTDFSearch" class="form-control" placeholder="Select a TDF...">
                        </div>
                        <div class="col-12 text-center" id="practiceTDFSearchResultsContainer">
                            <div class="col-12 text-center" id="practiceTDFSearchResults">
                                {{#if recentTdfs}}
                                <div class="divider">Recent</div>
                                <ul class="tdfMenu"> 
                                {{#each recentTdfs}}
                                    <li>
                                        <a id="{{this.tdfid}}" class="tdfLink" name="{{this.name}}"
                                        data-tdfid="{{this.tdfid}}"
                                        data-lessonname="{{this.name}}"
                                        data-currentStimuliSetId="{{this.currentStimuliSetId}}"
                                        data-tdffilename="{{this.fileName}}"
                                        data-ignoreOutOfGrammarResponses="{{this.ignoreOutOfGrammarResponses}}"
                                        data-speechOutOfGrammarFeedback="{{this.speechOutOfGrammarFeedback}}"
                                        data-isMultiTdf="{{this.isMultiTdf}}">
                                        <!-- add disabled="{{this.isOverDue}}" to this to enable due date lockouts -->
                                        {{this.name}}
                                        {{#if this.enableAudioPromptAndFeedback}}
                                        <span class="fa fa-headphones"></span>
                                        {{/if}}
                                        {{#if this.audioInputEnabled}}
                                        <span class="fa fa-microphone"></span>
                                        {{/if}}
                                    </a>
                                    </li>
                                    {{/each}}

                                    <a id="{{this.tdfid}}" class="tdfLink" name="{{this.name}}"
                                    data-tdfid="{{this.tdfid}}"
                                    data-lessonname="{{this.name}}"
                                    data-currentStimuliSetId="{{this.currentStimuliSetId}}"
                                    data-tdffilename="{{this.fileName}}"
                                    data-ignoreOutOfGrammarResponses="{{this.ignoreOutOfGrammarResponses}}"
                                    data-speechOutOfGrammarFeedback="{{this.speechOutOfGrammarFeedback}}"
                                    data-isMultiTdf="{{this.isMultiTdf}}">
                                    <!-- add disabled="{{this.isOverDue}}" to this to enable due date lockouts -->
                                    {{this.name}}
                                    {{#if this.enableAudioPromptAndFeedback}}
                                    <span class="fa fa-headphones"></span>
                                    {{/if}}
                                    {{#if this.audioInputEnabled}}
                                    <span class="fa fa-microphone"></span>
                                    {{/if}}
                                    </a>
                                </ul>
                                {{/if}}
                                {{#if enabledTdfs}}
                                <div class="divider">Results</div>
                                <ul class="tdfMenu">
                                    {{#each enabledTdfs}}
                                    <li>
                                    <a id="{{this.tdfid}}" class="tdfLink" name="{{this.name}}"
                                        data-tdfid="{{this.tdfid}}"
                                        data-lessonname="{{this.name}}"
                                        data-currentStimuliSetId="{{this.currentStimuliSetId}}"
                                        data-tdffilename="{{this.fileName}}"
                                        data-ignoreOutOfGrammarResponses="{{this.ignoreOutOfGrammarResponses}}"
                                        data-speechOutOfGrammarFeedback="{{this.speechOutOfGrammarFeedback}}"
                                        data-isMultiTdf="{{this.isMultiTdf}}">
                                        <!-- add disabled="{{this.isOverDue}}" to this to enable due date lockouts -->
                                        {{this.name}}
                                        {{#if this.enableAudioPromptAndFeedback}}
                                        <span class="fa fa-headphones"></span>
                                        {{/if}}
                                        {{#if this.audioInputEnabled}}
                                        <span class="fa fa-microphone"></span>
                                        {{/if}}
                                    </a>
                                    </li>
                                {{/each}}
                                </ul>
                                {{else}}
                                    <div class="divider">Results</div>
                                    <div class="col-12">
                                        <ul class="tdfMenu">
                                            <li class="tdfLink">No modules available</li>
                                        </ul>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <div class="container-fluid">
        {{#if isImpersonating}}
        <div class='text-center alert alert-warning'>
                Impersonation Mode. Nothing will be logged. Log out to reset.
        </div>
        {{/if}}
        <br>
        <p class="text-center">To get started, select a tdf from the search box</p> 
        {{> profileAudioToggles}}
        {{> about}}
    </div>
</template>
