<template name="profileSouthwest">
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <div class="container">
      <!-- Link to Audio Settings Page -->
      <div class="card mb-3">
          <div class="card-body">
              <h5 class="card-title"><i class="fa fa-volume-up me-2"></i>Audio Settings</h5>
              <p class="card-text">Configure text-to-speech and speech recognition settings.</p>
              <a href="/audioSettings" class="btn btn-primary">Go to Audio Settings</a>
          </div>
      </div>

      {{#if class}}
      <legend class="text-center">
          Course: {{class.coursename}}
      </legend>
      {{/if}}

      <br />
      <div class="row" id="testButtonContainer">
          <legend class="text-center">
              Practice modules:
              <div class="row" style="border:1px black;">
                <h5 style="color:black;"><i class="fa fa-microphone"></i> Voice recognition enabled.</h5>
                <h5><span class="fa fa-headphones"></span>Text to Speech enabled</h5>
            </div>
          </legend>
      </div>
    </div>
</template>
