<!-- MAIN profile template -->
<template name="profile">
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <div class="container">
        {{#if isImpersonating}}
        <div class='text-center alert alert-warning'>
                Impersonation Mode. Nothing will be logged. Log out to reset.
        </div>
        {{/if}}


        {{#unless isInRole 'admin,teacher'}}
            <br>

            <div class="row" id="testButtonContainer">
                <legend class="text-center">
                    Practice modules:
                </legend>
            </div>

            {{#each enabledTdfs}}
                <div class='col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center'>
                    <button id="{{this.tdfid}}" class="btn btn-block btn-responsive tdfButton" type="button" name="{{this.name}}"
                        data-tdfid="{{this.tdfid}}"
                        data-lessonname="{{this.name}}"
                        data-currentStimuliSetId="{{this.currentStimuliSetId}}"
                        data-tdffilename="{{this.fileName}}"
                        data-ignoreOutOfGrammarResponses="{{this.ignoreOutOfGrammarResponses}}"
                        data-speechOutOfGrammarFeedback="{{this.speechOutOfGrammarFeedback}}"
                        data-isMultiTdf="{{this.isMultiTdf}}">{{this.name}}
                        {{#if or this.enableAudioPromptAndFeedback this.audioInputEnabled}}
                            <br>
                            {{#if this.enableAudioPromptAndFeedback}}
                            <span style="display:inline-block" title="Audio Output available for this module"><span class="glyphicon glyphicon-headphones"></span></span>
                            {{/if}}
                            {{#if this.audioInputEnabled}}
                                <span style="display:inline-block" title="Speech Input available for this module"><i class="fa fa-microphone"></i></span>
                            {{/if}}
                        {{/if}}
                    </button>
                </div>
            {{/each}}
        {{/unless}}

        {{#if isInRole 'admin,teacher'}}
            <br><br>

            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <button id="tdfPracticeBtn" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#testButtonContainer" aria-expanded="false" aria-controls="testButtonContainer">
                        TDF Practice +
                    </button>
                </div>
            </div>
            <div class="row collapse" id="testButtonContainer">
                <br>
                {{>profileAudioToggles}}
                <legend class="text-center">
                    Practice modules:
                    <br>
                    <h4><input type="checkbox" name="simulation" id="simulation" checked={{simulationChecked}}> Simulate if TDF param present?</h4>
                    {{#if isInRole 'admin'}}
                        <h4><input type="checkbox" name="tdf-admin-info" id="tdf-admin-info"> Show TDF admin info</h4>
                        {{#if showTdfAdminInfo}}
                            <button id="disable-tdfs-btn" class="btn btn-default">Disable selected TDFs</button>
                        {{/if}}
                    {{/if}} 
                </legend>
                {{#if showTdfs}}
                    {{#each enabledTdfs}}
                        <div class='col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center'>
                            <button id="{{this.tdfid}}" class="btn btn-block btn-responsive tdfButton" type="button" name="{{this.name}}"
                            data-tdfid="{{this.tdfid}}"
                            data-lessonname="{{this.name}}"
                            data-currentStimuliSetId="{{this.currentStimuliSetId}}"
                            data-ignoreOutOfGrammarResponses="{{this.ignoreOutOfGrammarResponses}}"
                            data-speechOutOfGrammarFeedback="{{this.speechOutOfGrammarFeedback}}"
                            data-isMultiTdf="{{this.isMultiTdf}}">{{this.name}}
                            {{#if or this.enableAudioPromptAndFeedback this.audioInputEnabled}}
                                <br>
                                {{#if this.enableAudioPromptAndFeedback}}
                                    <span style="display:inline-block" title="Audio Output available for this module"><span class="glyphicon glyphicon-headphones"></span></span>
                                {{/if}}
                                {{#if this.audioInputEnabled}}
                                    <span style="display:inline-block" title="Speech Input available for this module"><i class="fa fa-microphone"></i></span>
                                {{/if}}
                            {{/if}}                                
                        </button>
                            {{#if isInRole 'admin'}}
                                {{#if showTdfAdminInfo}}
                                    <input type="checkbox" id="select-disable" uid="{{this.tdfid}}"/>
                                    <p class="admin-info-p" id="tdf-src">src: {{this.source}}</p>
                                    <p class="admin-info-p" id="tdf-owner">own: {{tdfOwnersMap this.ownerId}}</p>
                                {{/if}}
                            {{/if}}
                        </div>
                    {{/each}}
                {{/if}}
            </div>

            <br><br>
            {{#if isInRole 'admin'}}
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <button id="showDisabledTdfsBtn" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#showDisabledTdfsContainer" aria-expanded="false" aria-controls="showDisabledTdfsContainer">
                        Show Disabled TDFs +
                    </button>
                </div>
            </div>
            <div class="row collapse" id="showDisabledTdfsContainer">
                <div class="col-md-offset-2 col-md-8 responsiveTable">
                    <legend class="text-center">Disabled TDFs</legend>
                    <button id="enable-tdfs-btn" class="btn btn-default">Enabled selected TDFs</button>  

                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th>Enable?</th>
                                <th>Name</th>
                                <th>Owner</th>
                                <th>Source</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each disabledTdfs}}
                                <tr>
                                    <td>
                                        <input type="checkbox" id="select-enable" uid="{{this.tdfid}}"/>
                                    </td>
                                    <td>{{this.name}}</td>
                                    <td>{{tdfOwnersMap this.ownerid}}</td>
                                    <td>{{this.source}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            {{/if}}
            <br><br>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <button type="button" id="mechTurkButton" class="button btn  navbar-btn">Mechanical Turk</button>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <button type="button" id="contentUploadButton" class="button btn  navbar-btn">Content and File Uploading</button>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <button type="button" id="assetUploadButton" class="button btn  navbar-btn">Media Asset Uploading</button>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <button type="button" id="userProfileEditButton" class="button btn  navbar-btn">AWS User Profile Data</button>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <button type="button" id="dataDownloadButton" class="button btn  navbar-btn">Download User Log Data</button>
                </div>
            </div>
            {{#if isInRole 'admin'}}
              <br><br>
              <div class="row">
                  <div class="col-md-offset-3 col-md-6">
                      <button type="button" id="userAdminButton" class="button btn  navbar-btn">User Admin</button>
                  </div>
              </div>
            {{/if}}
            <br><br>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <button type="button" id="classEditButton" class="button btn  navbar-btn">Class Edit</button>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <button type="button" id="tdfAssignmentEditButton" class="button btn  navbar-btn">Chapter Assignments</button>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <button type="button" id="instructorReportingButton" class="button btn  navbar-btn">Instructor Reporting</button>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <button type="button" id="wikiButton" class="button btn  navbar-btn">MoFACTs Manuals / Wiki</button>
                </div>
            </div>
            <br><br>
            <!-- <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <button type="button" id="contentGenerationButton" class="button btn  navbar-btn">Content Generation</button>
                </div>
            </div> -->
        {{/if}}

        <br><br>
        {{> about}}
    </div>
</template>
