<!-- MAIN profile template -->
<template name="profile">
    
    <div class="container">
        
        {{#if isImpersonating}}
        <div class='text-center alert alert-warning'>
                Impersonation Mode. Nothing will be logged. Log out to reset.
        </div>
        {{/if}}
        {{#unless isInRole 'admin,teacher'}}
            {{> studentReporting}}
        {{/unless}}
        <div class="row row-col-lg-6 row-col-md-3 row-col-sm-1 row-col-xs-1 text-center">
        {{#if isInRole 'admin,teacher'}}
        <div class="header-box">
            Admin / Teacher Menu
           </div> 
           
                <div class="col">
                    <button type="button" id="instructorReportingButton" class="button btn  navbar-btn">Instructor Reporting</button>
                </div>
           
       
            {{#if isInRole 'admin'}}

                <div class="col">
                    <button id="adminControlsBtn" class="btn btn-primary" type="button">
                        Admin Control Panel
                    </button>
                </div>

            {{/if}}

                <div class="col">
                    <button type="button" id="mechTurkButton" class="button btn  navbar-btn">Mechanical Turk</button>
                </div>

         
                <div class="col">
                    <button id="FileManagementButton" class="btn btn-primary" type="button">
                        File Management
                    </button>
                </div>


                <div class="col">
                    <button type="button" id="contentUploadButton" class="button btn  navbar-btn">Asset Manager</button>
                </div>

                <div class="col">
                    <button type="button" id="userProfileEditButton" class="button btn  navbar-btn">AWS User Profile Data</button>
                </div>

                <div class="col">
                    <button type="button" id="dataDownloadButton" class="button btn  navbar-btn">Download User Log Data</button>
                </div>

            {{#if isInRole 'admin'}}
             
                  <div class="col">
                      <button type="button" id="userAdminButton" class="button btn  navbar-btn">User Admin</button>
                  </div>
     
            {{/if}}
       
       
                <div class="col">
                    <button type="button" id="classEditButton" class="button btn  navbar-btn">Class Edit</button>
                </div>
 
       
                <div class="col">
                    <button type="button" id="tdfAssignmentEditButton" class="button btn  navbar-btn">Chapter Assignments</button>
                </div>

       
        
                <div class="col">
                    <button type="button" id="wikiButton" class="button btn  navbar-btn">MoFACTs Manuals / Wiki</button>
                </div>
     
       
    
                <div class="col">
                    <button type="button" id="contentGenerationButton" class="button btn  navbar-btn">Content Generation</button>
                </div>
                
    
        {{/if}}
        </div>
    </div>
</template>
