<template name="setTheme">
    <!-- template for nice bootstrap dropdown to change the theme -->
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Theme
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item selectTheme" data-id="classic.css" href="#">Classic</a></li>
            <li><a class="dropdown-item selectTheme" data-id="dark.css" href="#">Dark</a></li>
            <li><a class="dropdown-item selectTheme" data-id="light.css" href="#">Light</a></li>
        </ul>
      </div>
</template>