services:
  mofacts:
    container_name: mofacts
    restart: always
    image: ppavlikmemphis/mofacts-mini:upgrades
    build:
      context: ../../
      dockerfile: Dockerfile
    volumes:
      - type: bind
        source: /mofactsAssets
        target: /mofactsAssets
        bind:
          create_host_path: true
      - type: bind
        source: /dynamic-assets
        target: /root/dynamic-assets
        bind:
          create_host_path: true
    ports:
      - '3000:3000'
    depends_on:
      - mongodb
      - syllables
    environment:
      ROOT_URL: https://staging.optimallearning.org
      MONGO_URL: mongodb://mongodb:27017/MoFACT
      PORT: 3000
      SYLLABLES_URL: http://syllables:4567
      WAIT_HOSTS: mongo:27017 syllables:4567
      METEOR_SETTINGS_WORKAROUND: '/mofactsAssets/settings.json'
    networks:
      - mofacts

  mongodb:
    image: mongo:latest
    command:
      - --storageEngine=wiredTiger
    volumes:
      - data:/data/db
    ports:
      - '27017:27017'
    networks:
      - mofacts

  syllables:
    image: ppavlikmemphis/mofacts-syllables
    build:
      context: ../../syllables_subsystem
      dockerfile: Dockerfile
    ports:
      - '4567:4567'
    networks:
      - mofacts


volumes:
  data:
    driver: local

networks:
  mofacts:
    driver: bridge


