MONGO_URI=mongodb://sidecar_readonly:replace-me@mongodb:27017/MoFACT-meteor3?authSource=MoFACT-meteor3&replicaSet=mofacts-rs
DB_NAME=MoFACT-meteor3
MOFACTS_MONGO_REPLICA_SET_NAME=mofacts-rs
BASE_URL=http://host.docker.internal:3200
